* {box-sizing: border-box;}
body { margin: 0; font-family: Roboto, Noto, sans-serif; background-color: #efefef; }

.hidden { display: none; }
table.collapse { border-collapse: collapse; }

div#inventory-choice-div {
  position: absolute; left: 0; top: 0; height: 100vh; width: 100vw; z-index: 10000;
  background-color: #393A38;
  text-align: center;
  padding-top: 15%;
  font-size: 200%;
  color: white;
}
div#inventory-choice-div input[type="submit"] { font-size: 180%; }
div#inventory-choice-div input[type="radio"] { width: 2em; height: 2em; }
div#inventory-choice-div select { font-size: 100%; }

@media all and (orientation:landscape) {
   #map-container { margin-left: 46px; height: 100vh; width: calc(60vw - 46px); }
   #map-container.focused { width: calc(40vw - 46px); }
   #map-container.focused #map-div { height: 60vh; width: 100%; }
   #map-container.focused #undermap-div { display: block; height: 40vh;}
   #infos-div { position: absolute; left: 60vw; top: 0; height: 100vh; }
   #infos-div.focused { left: 40vw; width: calc(100% - 40vw); }
}

@media all and (orientation:portrait) {
   #map-container { margin-left: 46px; width: calc(100vw - 46px); }
   #map-container #map-div { height: 50vh; width: 100%; }
   #map-container.focused #undermap-div { display: block; }
   #infos-div { margin-left: 46px; }
}

.icon-plot-blue, .icon-plot-orange, .icon-plot-green { border: 1px solid #666; border-radius: 8px; opacity: 0.8; }
.icon-plot-blue { background: #216AFF; }
.icon-plot-orange { background: #FFA500; }
.icon-plot-green { background: #2ABF2A; }

#left-pane { position: absolute; left: 0; top: 0; height: 100vh; width: 46px; background-color: #393A38; }
#layer-icons { margin-top: 10px; text-align: center; line-height: 2em; }
#layer-icons img.pane-icon { cursor: pointer; }
#pane-icons { position: absolute; bottom: 5px; text-align: center; }
#unsync-counter { font-size: 150%; font-weight: bold; margin-bottom: 5px; color: #bebebe; }
#unsync-counter.nonempty { color: red; }
img.pane-icon { width: 3vw; min-width: 35px; }
img#sync-unsync { cursor: pointer; }

#map-div { height: 100%; width: 100%; }
#undermap-div { display: none; padding: 0.6em; }
#undermap-back { float: right; }
button#gemeinde-back img { height: 2.5em; width: 2.5em; }

#progress { position: absolute; left: 6vw; bottom: 10vw; width: 48vw; height: 2.5vw; border: 1px solid gray; z-index: 1000; opacity: 0.8; background-color: white; display: none;}

#infos-div { padding: 0.6em; vertical-align: top;}
#inventory-title { font-size: 110%; font-weight: bold; }
#error { display: none; margin: 1em 0; padding: 1em 0.5em; color: red; border: 1px solid red; }
#appversion { position: absolute; z-index: 10000; bottom: 0; right: 0; padding: 0.5em; font-size: 80%; color: #999; }

table#plot-data { display: none; width: 100%; border: 1px solid #aaa; margin: 0.5em 0; }
table#plot-data th, table#undermap-data th { text-align: left; vertical-align: top; }
#koord-placeholder { display: grid; grid-template-columns: auto auto; grid-column-gap: 10px; }

#obs-data { display: none; }
#obs-input { display: none; overflow-x: hidden; }
form#allsteps, form.input-form { display: none; }
#year-buttons { text-align: right; }
#year-buttons button { font-size: 18px; padding: 2px 4px; }

#step0 {
    display: none;
    text-align: center;
    font-size: 24px;
    margin-top: 20%;
}
#input-start, #input-end { font-size: 18px; }
div.cancel { float: right;  margin-top: 1em; }
div.weiter { text-align: center; margin-top: 1em; }
div.weiter button, div.cancel button { padding: 4px 3em; vertical-align: bottom; }
div.weiter button.weiter img, div.cancel button.cancel img { height: 3em; width: 4em; }
div.weiter button.newtree img { height: 3em; width: 4em; }
span.bigplus { font-size: 250%; line-height: 0.8em; }
#allstepsselect { font-size: 22px; width: 100%; margin-bottom: 5px; }

table.form-table { width: 100%; }
.input-form input, .input-form textarea, .input-form select { font-size: 120%; }
.input-form input[type="number"] { max-width: 5em; }
.input-form input#id_exact_long, .input-form input#id_exact_lat { max-width: 7.3em; }
.input-form th { text-align: right; vertical-align: top; padding-top: 0.4em; }
.input-form textarea { width: 100%; }
.input-form img.locked-input { height: 1.2em; width: 1.2em; }
.input-form ul { margin: 0; padding: 0; list-style-type: none; }
.input-form ul li { float: left; min-width: 24%; }
.input-form ul li label {
    display: inline-block; padding: 0.4em; margin: 3px;
    border: 1px solid #aaa; border-radius: 0.8em;
    background: linear-gradient(rgb(224,224,224),rgb(200,200,200));
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    color: #444;
}
.input-form input[type="radio"]:checked + label {
    background: #396b9e linear-gradient(#5f9cc5, #396b9e) repeat scroll 0 0;
    color: white;
    font-weight: bold;
}

.warning { color: red; display: none; }
#id_stand_devel_stage { width: 100%; }
table#regenobs-table thead th { text-align: center; }
table#regenobs-table tbody td { padding: 0.5em 0; text-align: center; }
table#regenobs-table select { font-size: 90%; max-width: 110px; }
form#steptree #id_remarks { height: 3em; }
form#steptree #id_vita { width: 100%; }
form#stepfinal { text-align: center; }

table#trees_summary th { text-align: left; border: 1px solid #ccc; padding: 4px; }
table#trees_summary td { border: 1px solid #ccc; padding: 4px; }
table#trees_summary td.nr { text-align: right; }
table#trees_summary td.species { text-align: left; }
table#trees_summary td.dist { text-align: right; }
table#trees_summary td.azim { text-align: right; }
table#trees_summary td.bhd { text-align: left; }
table#trees_summary td.lebenslauf { text-align: left; }
table#trees_summary td.delete { border: 0; display: none; }
table#trees_summary tr.new td.delete { display: table-cell; background-color: transparent; }
table#trees_summary tr.new td.delete img { height: 24px; cursor: pointer; }
table#trees_summary tr.new td { background-color: #c0ff73; }

#currentLong, #currentLat { display: inline-block; }
button#keepthis { margin: 0 1em; padding: 0.5em; font-size: 100%; font-weight: bold; }

tr.separator { background-color: gray; height: 4px; }
input#input-end { padding: 4px 3em; }

button { padding: 0; font-family: Roboto, Noto, sans-serif; }
button:hover { cursor: pointer; }
button.current { font-weight: bold; }
button.new { color: red; }
button.editing { color: orange; }

#obs-infos-general-table td, #obs-infos-trees-table td {
  vertical-align: top;
  padding: 2px;
}
#obs-infos-trees-table tr:hover { background-color: #ccc; cursor: pointer; }
#obs-infos-trees-table tr.current td {
  background-color: #EAC6C6;
}

ul.tabs {
  list-style: none;
  padding: 0;
  margin: 0.25em 0;
}
ul.tabs li {
  display: inline;
  padding: 5px;
  margin-right: 2px;
  background-color: #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
ul.tabs li.active { font-weight: bold; }

ul.tabs li:hover {
  cursor: pointer;
}
div.tab-child {
  border: 1px solid gray;
  display: none;
  overflow: auto;
}

.icon-tree > * {
  position: absolute;
  left: 0;
  right: 0;
}
.icon-tree .treenumb {
  text-align: center;
  font-size: 14px;
}
