{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form id="login-form" method="post" action="">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
<tr>
    <td></td><td><input type="submit" value="{% trans "Log in" %}"></td>
</tr>
</table>
<input type="hidden" name="next" value="{{ next }}">
</form>

{% endblock %}


