{% load l10n %}
{% load static from mobile_static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>KSP Mobile</title>
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link rel="stylesheet" href="{% static 'js/leaflet140/leaflet.css' %}" />
    <link rel="stylesheet" href="{% static 'css/mobile.css' %}" type="text/css" media="all" />
    <script src="{% static 'js/leaflet140/leaflet.js' %}"></script>
    <script src="{% static 'js/proj4-2.4.3.js' %}"></script>
    <script src="{% static 'js/pouchdb-7.2.1.min.js' %}"></script>
    <script src="{% static 'js/L.TileLayer.PouchDBCached.js' %}"></script>
    <script src="{% static 'js/progressbar.min.js' %}"></script>
    <script>
        var verbose_names = {
            {% for key, val in verbose_names.items %}{{ key }}: '{{ val }}'{% if not forloop.last %},{% endif %}
            {% endfor %}
        };
        var sync_url = "{% url 'plotobs-sync' %}";
        var staticImages = {
            tree: "{% static 'img/tree.svg' %}",
            treeDead: "{% static 'img/tree-dead.svg' %}",
            treeCut: "{% static 'img/tree-cut.svg' %}",
            treeTodo: "{% static 'img/tree-todo.svg' %}",
            treeSpecial: "{% static 'img/tree-special.svg' %}",
            currentPos: "{% static 'img/currentpos.svg' %}"
        };
        var slopeMapping = {
            {% localize off %}{% for key, val in slope_mapping.items %}{{ key }}: {{ val }}{% if not forloop.last %},{% endif %}
            {% endfor %}{% endlocalize %}
        };
    </script>
  </head>

  <body>
  <div id="inventory-choice-div">
    <form id="inventory-form">
        <p>Bitte wählen Sie die Aufnahme:</p>
        <p><select id="inventory-choice">
            <option value="">--------</option>
            {% for inv in inventories %}
            <option value="{{ inv.pk }}"
                    data-url="{% url 'inventory-geojson' inv.pk %}">{{ inv.name }}</option>
            {% endfor %}
        </select></p>
        <p>Winkeleinheitseingang in:<br>
            <input type="radio" id="angleunit_0" name="angleunit" value="gon" checked> <label for="angleunit_0">Gon</label>
            <input type="radio" id="angleunit_1" name="angleunit" value="deg">
            <label for="angleunit_1">Grad</label>
        </p>
        <p><input id="inventory-ok" type="submit" value="OK"></p>
    </form>
  </div>

  <div id="main-container">
    <div id="left-pane">
        <div id="layer-icons">
            <img id="baselayer" class="pane-icon" src="{% static 'img/satellite.png' %}"
                 title="Plan oder Satelliten Schicht"
                 data-toggleimg="{% static 'img/plan.png' %}"><br>
            <img id="tocurrent" class="pane-icon" src="{% static 'img/tocurrent.png' %}"
                 title="Zu meiner aktuellen Position gehen">
            <img id="toinventory" class="pane-icon" src="{% static 'img/toinventory.png' %}"
                 title="Zum Inventar gehen">
        </div>
        <div id="pane-icons">
            <div id="unsync-counter" title="Anzahl der unsynchronisierten Inhalte"></div>
            <img id="sync-unsync" class="pane-icon" src="{% static 'img/un-sync.svg' %}"
                 title="Lokale-Ferndaten Synchronisierung"><br>
            <img id="network-status" class="pane-icon" src="{% static 'img/online.svg' %}"
                 title="Online/Offline Status"
                 data-toggleimg="{% static 'img/offline.svg' %}">
        </div>
    </div>

    <div id="map-container">
        <div id="map-div">map</div>
        <div id="undermap-div">
            <div id="undermap-back">
                <button id="gemeinde-back" title="Zurück zur Gemeindeübersicht">
                    <img src="{% static 'img/back.svg' %}">
                </button>
            </div>
            <div>
                <table id="undermap-data">
                    <tr><th>Gemeinde:</th><td id="gemeinde-placeholder"></td></tr>
                    <tr><th>Koordinaten:</th><td id="koord-placeholder"></td></tr>
                </table>
            </div>
            <table id="plot-data">
                <tr><th>Nr:</th><td id="plot-nr"></td></tr>
                <tr><th>Höhe:</th><td id="plot-hohe"></td>
                    <th>Expo:</th><td id="plot-expo"></td></tr>
                <tr><th>Neigung:</th><td id="plot-slope"></td>
                    <th>Radius:</th><td id="plot-radius"></td></tr>
            </table>
        </div>
    </div>

    <div id="infos-div">
        <div id="inventory-title"></div>

        <div id="error"></div>

        <div id="year-buttons"></div>

        <div id="obs-data">
            <div id="obs-tabs">
                <ul class="tabs">
                    <li class="active" data-target="obs-infos-general">General</li>
                    <li data-target="obs-infos-trees">Bäume</li>
                </ul>
            </div>
            <div id="obs-infos-general" class="tab-child">
                <table id="obs-infos-general-table" class="collapse"></table>
            </div>
            <div id="obs-infos-trees" class="tab-child">
                <table id="obs-infos-trees-table" class="collapse"></table>
            </div>
        </div>

        <div id="obs-input">
            <div id="step0">
                <p>Neue Aufnahme für diese Probepunkt.</p>
                <form><input id="input-start" type="button" value="Starten"></form>
            </div>

            <form id="allsteps"><select id="allstepsselect">
                <option value="1">Schritt 1</option>
                <option value="2" disabled>Schritt 2 - Verjüngung</option>
                <option value="3" disabled>Schritt 3</option>
                <option value="4" disabled>Schritt 4</option>
                <option value="1000" disabled>Endgültige Bestätigung</option>
            </select></form>

            <form id="step1" class="input-form" data-step="1">
                {% for hidden in po_form.hidden_fields %}{{ hidden }}{% endfor %}
                <table class="form-table">
                    {% for field in po_form.step1_fields %}
                    <tr id="tr_{{ field.name }}">
                        <th>{{ field.label_tag }}</th>
                        <td>{% if field.name == 'forest_edgef' %}<div id="forest_edgef_warning" class="warning">Warnung: Wenn kleiner als 0.6 werden keine Stichproben genommen.</div>{% endif %}
                            {{ field }}
                            {% if field.field.can_be_locked %}
                            <img class="locked-input" src="{% static 'img/locked.svg' %}"
                                 data-toggleimg="{% static 'img/unlocked.svg' %}">
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <div class="weiter">
                    <button type="submit" class="weiter" title="Weiter"><img src="{% static 'img/okcontinue.svg' %}"></button>
                </div>
            </form>

            <form id="step2" class="input-form" data-step="2">
                <table class="form-table" id="regenobs-table">{{ regen_form.management_form }}
                    <thead>
                        <tr><td></td><th>Anwuchs</th><th>Aufwuchs</th><th>Verbiss</th><th>Fegen</th></tr>
                    </thead>
                    {% for form in regen_form %}
                    <tr><th>{{ form.species }}<!--Hidden:-->{{ form.id }}{{ form.obs }}{{ form.spec }}</th>
                        <td>{{ form.perc_an }}</td>
                        <td>{{ form.perc_auf }}</td>
                        <td>{{ form.verbiss }}</td><td>{{ form.fegen }}</td></tr>
                    {% endfor %}
                </table>
                <div class="weiter">
                    <button type="submit" class="weiter" title="Weiter"><img src="{% static 'img/okcontinue.svg' %}"></button>
                </div>
            </form>

            <form id="step3" class="input-form" data-step="3">
                <table class="form-table">
                    <tr id="tr_lonlat"><td colspan="2">
                      <table>
                        <tr><td colspan="3"><div id="exact_long_warning" class="warning"></div></td></tr>
                        <tr>
                            <th>{{ plot_form.exact_long.label_tag }}</th>
                            <td>{{ plot_form.exact_long }} <div id="currentLong"></div></td>
                            <td rowspan="3"><button id="keepthis">Halten</button></td>
                        </tr>
                        <tr><td colspan="2"><div id="exact_lat_warning" class="warning"></div></td></tr>
                        <tr>
                            <th>{{ plot_form.exact_lat.label_tag }}</th>
                            <td>{{ plot_form.exact_lat }} <div id="currentLat"></div></td>
                        </tr>
                      </table>
                    </td></tr>
                    <tr id="tr_exposition">
                        <th>{{ plot_form.exposition.label_tag }}</th>
                        <td>{{ plot_form.exposition }}</td>
                    </tr>
                    <tr id="tr_relief">
                        <th>{{ po_form.relief.label_tag }}</th>
                        <td>{{ po_form.relief }}</td>
                    </tr>
                    <tr id="tr_slope">
                        <th>{{ plot_form.slope.label_tag }}</th>
                        <td>{{ plot_form.slope }}
                            <img class="locked-input" src="{% static 'img/locked.svg' %}"
                                 data-toggleimg="{% static 'img/unlocked.svg' %}">
                        </td>
                    </tr>
                </table>
                <div class="weiter">
                    <button type="submit" class="weiter" title="Weiter"><img src="{% static 'img/okcontinue.svg' %}"></button>
                </div>
            </form>

            <form id="step4" class="input-form" data-step="4">
                <table class="form-table">
                    <tbody id="previous-remarks"></tbody>
                    <tbody>
                      <tr id="tr_remarks">
                        <th>{{ po_form.remarks.label_tag }}</th>
                        <td>{{ po_form.remarks }}</td>
                      </tr>
                    </tbody>
                </table>
                <div class="weiter">
                    <button type="submit" class="weiter" title="Weiter"><img src="{% static 'img/okcontinue.svg' %}"></button>
                </div>
            </form>

            <form id="steptree" class="input-form" data-step="5">
                {% for hidden in tree_form.hidden_fields %}{{ hidden }}{% endfor %}
                <table class="form-table">
                      <tr id="tr_species">
                          <th>{{ tree_form.species.label_tag }}</th>
                          <td><div id="species_warning" class="warning">Warnung: Diese Baumart sollte nicht mehr ausgewählt werden.</div>
                              {{ tree_form.species }}
                              <img class="locked-input" src="{% static 'img/locked.svg' %}"
                                   data-toggleimg="{% static 'img/unlocked.svg' %}">
                          </td>
                      </tr>
                      <tr id="tr_nr">
                          <th>{{ tree_form.nr.label_tag }}</th>
                          <td>{{ tree_form.nr }}
                              <img class="locked-input" src="{% static 'img/locked.svg' %}"
                                   data-toggleimg="{% static 'img/unlocked.svg' %}">
                          </td>
                      </tr>
                      <tr id="tr_distance">
                          <th>{{ tree_form.distance.label_tag }}</th>
                          <td>{{ tree_form.distance }} dm
                              <img class="locked-input" src="{% static 'img/locked.svg' %}"
                                   data-toggleimg="{% static 'img/unlocked.svg' %}">
                          </td>
                      </tr>
                      <tr id="tr_azimuth">
                          <th>{{ tree_form.azimuth.label_tag }}</th>
                          <td>{{ tree_form.azimuth }} <span id="azimuth-unit"></span>
                              <img class="locked-input" src="{% static 'img/locked.svg' %}"
                                   data-toggleimg="{% static 'img/unlocked.svg' %}">
                          </td>
                      </tr>
                      <tr class="separator"><td colspan="2"></td></tr>

                    {% for field in tree_form.other_fields %}
                      <tr id="tr_{{ field.name }}">
                          <th>{{ field.label_tag }}</th>
                          <td>{% if field.name == 'dbh' %}<div id="dbh_warning" class="warning">Warnung: der Wert ist kleiner oder gleich der vorherigen Aufnahme.</div>
                              {% elif field.name == 'stem_height' %}<div id="stem_height_warning" class="warning">Warnung: Bitte dieser Wert ergänzen.</div>
                              {% endif %}
                              {{ field }}
                              {% if field.field.unit %}{{ field.field.unit }}{% endif %}
                              {% if field.name == 'dbh' %} &nbsp;&nbsp;&nbsp;<i>oder</i> <label><b>Umfang:</b></label> {{ tree_form.perim }} cm{% endif %}
                          </td>
                      </tr>
                    {% endfor %}
                </table>
                <div class="cancel">
                    <button class="cancel" id="canceltree" title="Abbrechen">
                        <img src="{% static 'img/cancel.svg' %}">
                    </button>
                </div>
                <div class="weiter">
                    <button type="submit" class="weiter" title="Weiter">
                        <img src="{% static 'img/okcontinue.svg' %}">
                    </button>
                    <button type="submit" class="newtree" title="neuer Baum">
                        <span class="bigplus">+</span> <img src="{% static 'img/newtree.svg' %}">
                    </button>
                </div>
            </form>

            <form id="stepfinal" class="input-form" data-step="99">
                <div class="weiter">
                    <button type="submit" class="newtree" title="neuer Baum">
                        <span class="bigplus">+</span> <img src="{% static 'img/newtree.svg' %}">
                    </button>
                </div>
                <hr>
                <h2>Bäume</h2>
                <table id="trees_summary" class="collapse">
                    <thead>
                        <tr><th>Nr.</th><th>Species</th><th>Dist.</th><th>Azim.</th><th>BHD</th><th>Lebenslauf</th></tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <template id="tree_row">
                <tr>
                    <td class="nr"></td>
                    <td class="species"></td>
                    <td class="dist"></td>
                    <td class="azim"></td>
                    <td class="bhd"></td>
                    <td class="lebenslauf"></td>
                    <td class="delete"><img src="{% static 'img/cancel.svg' %}" class="delete-tree"></td>
                </tr>
                </template>

                <p>Diese Kontrollstichprobe ist jetzt vollständig fertiggestellt.</p>
                <p id="coords_missing_warning" class="warning">Achtung: Genaue Koordinaten fehlen noch (Schritt 3).</p>
                <input id="input-end" type="button" value="Ende">
            </form>
        </div>
    </div>
    <div id="progress"></div>
    <div id="appversion"></div>
  </div><!-- main-container -->

  <script src="{% static 'js/application.js' %}"></script>
  <script>
    if('serviceWorker' in navigator) {
        navigator.serviceWorker.register("/serviceworker.js", {scope: './'})
            .then(function() { console.log("Service Worker Registered"); });
    }
  </script>
  </body>
</html>
