{% extends "base.html" %}

{% block htitle %}Datenanforderungen{% endblock %}

{% block extra_head %}
{% include "map_headers.html" %}

<style type="text/css">
#page-title { padding-bottom: 0; }
div#help-line { text-align: right; font-size: smaller; font-style: italic; }
div#help-line img { vertical-align: middle; }
div.selblock { float:left; border: 1px solid #999; clear:left; width: 22%; margin: 4px; }
div.selblock > div { padding: 4px; }
div.blocktitle { background-color: #EEE; }
div.togglable + div { font-size: 11px; }
div.checkboxes { display: table; }
div.checkbox { display: table-row; }
div.checkbox input, div.checkbox label { display: table-cell; }
div.grouping { margin: 1em 0; }
div.methode { margin: 0.5em 0; }
div#main_column { margin-left: 26%; }
div#refresh { text-align: center; }
div#server_error { margin: 0.6em 0; }
div#datamain { border: 1px solid #999; margin: 0; padding: 4px; }
div#mapmain { border: 1px solid #999; margin: 0; padding: 4px; display: none; }
div#map { width: 500; height: 500; }
th.aggr { background-color: #ffc8c8 !important; }
input.choice_filter { border: 1px solid #ccc; margin-left: 2.4em; font-size: 10px; width: 12em; }
</style>

<script>
var views = JSON.parse('{{ views|safe }}');
</script>

<script src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
<script src="{% static 'js/data.js' %}"></script>
{% endblock %}

{% block content %}
<div id="help-line">
    <a class="info" href="{% url 'doc-specific' 'tipps' %}">Tipps zu Auswertung</a>
    <a class="info icon" href="{% url 'doc-specific' 'tipps' %}"><img src="{% static 'img/bulb.svg' %}" height=40" width="40"></a>
</div>
<form id="dataform" action="{% url 'data_grid' %}">
<div id="where" class="selblock">
  <div class="blocktitle">Perimeter
    <div class="icons">
        <img class="info" src="{% static 'img/info.svg' %}" title="Auswahl des Perimeters, für welche Daten angefordert werden.">
    </div>
  </div>

  {% for perim in perimeters %}
  <div class="perim_choice">
      <div class="icons">
          {% if perim.infos_url %}
          <img class="info" src="{% static 'img/info-blue.svg' %}" title="{{ perim.infos }}"
               data-url="{{ perim.infos_url }}">
          {% endif %}
      </div>
      <div class="togglable"><b>{{ perim.title }}</b>
        <span class="num_choices"></span>
        <img class="clear_choices" src="{% static 'img/clear.png' %}" title="Löschen">
      </div>
      <div class="checkboxes">
         {% if perim.items|length > 20 %}<input class="choice_filter" type="text"><br>{% endif %}
      {% for item in perim.items %}
        <div class="checkbox">
            <input id="{{ perim.short_name }}{{ item.pk }}" type="checkbox"
                   name="{{ perim.short_name }}" value="{{ item.pk }}">
            <label for="{{ perim.short_name }}{{ item.pk }}">{% if perim.title == 'Gemeinden' %}{{ item.name_with_k }}{% else %}{{ item.name }}{% endif %}</label>
        </div>
      {% endfor %}
      </div>
  </div>
  {% endfor %}
</div>

<div id="what" class="selblock">
  <div class="blocktitle">Zielgrösse <div class="icons"><img class="info" src="{% static 'img/info.svg' %}" title="Auswahl der Zielgrösse, für welche Daten angefordert werden. Die Zielgrössen sind eigentliche Kennzahlen zum Wald."></div>
  </div>
  <div class="togglable"><b>Naturschutz</b> <div class="icons"><img class="info" src="{% static 'img/info.svg' %}" title="Kennzahlen (Zielgrössen) im Zusammenhang mit der Naturschutzfunktion können abgefragt werden."></div>
  </div>
  <div>
    <div class="input_choice"><input id="BWNATURN" type="radio" name="bio" value="BWNATURN"> <label for="BWNATURN">Naturnähe des Nadelholzanteils (BWNATURN)</label></div>

    <div class="input_choice"><input id="BWARTEN" type="radio" name="bio" value="BWARTEN"> <label for="BWARTEN">Gehölzartenvielfalt (BWARTEN)</label></div>

    <div class="input_choice"><input id="BWSTRU" type="radio" name="bio" value="BWSTRU"> <label for="BWSTRU">Strukturvielfalt (BWSTRU)</label></div>

    <div class="input_choice"><input id="Biotopwert" type="radio" name="bio" value="Biotopwert"> <label for="Biotopwert">Biotopwert (BIOLFI1M)</label></div>

    <div class="input_choice"><input id="Totholz" type="radio" name="bio" value="Totholz"> <label for="Totholz">Totholz</label></div>

    <div class="input_choice"><input id="Bodenschäden" type="radio" name="bio" value="Bodenschäden"> <label for="Bodenschäden">Bodenschäden</label></div>

    <div class="input_choice"><input id="Giganten" type="radio" name="bio" value="Giganten"> <label for="Giganten">Giganten</label></div>
  </div>

  <div class="togglable"><b>Holzproduktion</b>
    <div class="icons"><img class="info" src="{% static 'img/info.svg' %}" title="Kennzahlen (Zielgrössen) im Zusammenhang mit der Rohholzproduktion können abgefragt werden. Für den lebenden Bestand, den Einwuchs, sowie die Nutzung kann die Stammzahl, die Grundfläche sowie das Schaftvolumen abgefragt werden."></div>
  </div>
  <div>
    <div class="input_choice"><input id="Stammzahl" type="radio" name="bio" value="Stammzahl"> <label for="Stammzahl">Stammzahl, Volumen, Grundfläche</label></div>

    <div class="input_choice"><input id="Einwuchs" type="radio" name="bio" value="Einwuchs"> <label for="Einwuchs">Einwuchs</label></div>

    <div class="input_choice"><input id="Nutzung" type="radio" name="bio" value="Nutzung"> <label for="Nutzung">Nutzung</label></div>

    <div class="input_choice"><input id="Zuwachs" type="radio" name="bio" value="Zuwachs"> <label for="Zuwachs">Zuwachs</label></div>
  </div>

  <div class="togglable"><b>Waldgesundheit</b></div>
  <div>
      <div class="input_choice">
          <input id="Eschentriebsterben" type="radio" name="bio" value="Eschentriebsterben">
          <label for="Eschentriebsterben">Eschentriebsterben</label>
      </div>
  </div>

</div>

<div class="selblock">
  <div class="blocktitle togglable">Gruppierung <div class="icons"><img class="info" src="{% static 'img/info.svg' %}" title="Art und Weise, die Resultate zusammenzufassen. Je feiner die Gruppierung (z.b. Zielwert pro Baumart, Entwicklungsstufe und Gemeinde) desto weniger Kontrollstichproben stehen zur Verfügung und desto grösser ist der Standardfehler. Beim manuellen berechnen von Mittelwerten, basierend auf Gruppierungsergebnissen, muss man eine Gewichtung mit der Anzahl KSP-Punkte vornehmen. Einfacher ist, eine Abfrage mit Gruppierung und eine Abfrage ohne Gruppierung (für den Mittelwert) durchzuführen."></div>
  </div>
  <div id="grouping-container">
    <div class="grouping" id="grouping1">
      <!-- Year, inv_period and perimeter-related are always present -->
      <input id="cb_no_aggr" type="checkbox" name="no_aggr" value="none"> <label for="cb_no_aggr">Keine</label><br>
      <br>

      <input id="cb_municipality" type="radio" name="paggr" value="municipality"> <label for="cb_municipality">Gemeinde</label><br>
      <input id="cb_forstkreis" type="radio" name="paggr" value="forstkreis"> <label for="cb_forstkreis">Forstkreis</label><br>
      <input id="cb_forstrevier" type="radio" name="paggr" value="forstrevier"> <label for="cb_forstrevier">Forstrevier</label><br>
      <input id="cb_jagdrevier" type="radio" name="paggr" value="jagdrevier"> <label for="cb_jagdrevier">Jagdrevier</label><br>
      <input id="cb_wep" type="radio" name="paggr" value="WEP"> <label for="cb_wep">WEP</label><br>
      <div>
          <div class="icons"><img class="info" src="{% static 'img/info-blue.svg' %}" title="Gruppierung nach wichtigstes Waldeigentümer der beiden Basel. Klicken Sie für weitere Informationen." data-url="/docs/eigentuemer/">
          </div>
          <input id="cb_eigentumer" type="radio" name="paggr" value="eigentümer"> <label for="cb_eigentumer">Eigentümer</label>
      </div>
      <div>
        <div class="icons"><img class="info" src="{% static 'img/info.svg' %}" title="Es werden folgende Gefahrenprozesse unterschieden: Lawine (inkl. Nassschneerutsche), Sturz (Steinschlag, inkl. Eisschlag), Hangmure / Rutschung, Gerinneprozesse"></div>
        <div><input id="cb_schutzwald" type="radio" name="paggr" value="schutzwald"> <label for="cb_schutzwald">Gefahrenprozess (Schutzwald)</label></div>
      </div>
      <input id="cb_freiperimeter" type="radio" name="paggr" value="freiperimeter"> <label for="cb_freiperimeter">Freiperimeter</label><br>
      <br>

      <input id="cb_year" type="radio" name="yaggr" value="year" checked> <label for="cb_year">Jahr</label>
      <div>
          <div class="icons"><img class="info" src="{% static 'img/info-blue.svg' %}"
               title="0:Pratteln (1988), Ormalingen (1991), 1: 1987 bis 2000, 2: 2002 bis 2014"
               data-url="{% url 'doc-specific' 'aufnahmeperiode' %}"></div>
          <div>
              <input id="cb_inv_period" type="radio" name="yaggr" value="inv_period">
              <label for="cb_inv_period">Aufnahmeperiode</label>
          </div>
      </div>
      <div class="icons"><img class="info" src="{% static 'img/info.svg' %}" title="nur Punkte vom letzten Inventar"></div>
      <div><input id="cb_latestinv" type="radio" name="yaggr" value="letztes_inv">
           <label for="cb_latestinv">Nur letztes Inventar</label>
      </div>
    </div>

    <div class="grouping" id="grouping-view">
        <!-- Groupment checkboxes depending on the selected query. -->
        <div id="grp_spec" class="grp_optional">
            <input id="cb_spec" type="checkbox" name="aggr" value="spec"> <label for="cb_spec">Baumart</label>
        </div>
        <div id="grp_group" class="grp_optional">
            <input id="cb_group" type="checkbox" name="aggr" value="group"> <label for="cb_group">Baumartgruppe</label>
        </div>
        <div id="grp_otype" class="grp_optional">
            <div class="icons"><img class="info" src="{% static 'img/info.svg' %}" title="Die Waldeigentümer werden in verschiedene Kategorien (Tabelle owner_type) gruppiert. Damit kann die Auswertung pro Eigentümertyp umgesetzt werden (Waldentwicklungsplanung). Die Erläuterungen zum Eigentümer sind unter Eigentümer aufgeführt."></div>
            <input id="cb_otype" type="checkbox" name="aggr" value="otype"> <label for="cb_otype">Eigentümertyp</label>
        </div>
        <div id="grp_ostatus" class="grp_optional">
            <div class="icons"><img class="info" src="{% static 'img/info.svg' %}" title="Die Waldeigentümer werden in die beiden Kategorien i) öffentlich (Einwohnergemeinden, Bürgergemeinden, Burgerkoorporationen, Bund, Kanton) und ii) privat (Privatwaldbesitzer, Stiftungen)."></div>
            <input id="cb_ostatus" type="checkbox" name="aggr" value="ostatus"> <label for="cb_ostatus">Eigentümer Status</label>
        </div>
        <div id="grp_bwnaturn" class="grp_optional">
            <input id="cb_bwnaturn" type="checkbox" name="aggr" value="bwnaturn"> <label for="cb_bwnaturn">Naturnähe des Nadelholzanteils (BWNATURN)</label>
        </div>
        <div id="grp_bwarten" class="grp_optional">
            <input id="cb_bwarten" type="checkbox" name="aggr" value="bwarten"> <label for="cb_bwarten">Gehölzartenvielfalt (BWARTEN)</label>
        </div>
        <div id="grp_bwstru1m" class="grp_optional">
            <input id="cb_bwstru1m" type="checkbox" name="aggr" value="bwstru1m"> <label for="cb_bwstru1m">Strukturvielfalt (BWSTRU1M)</label>
        </div>
        <div id="grp_bioklass" class="grp_optional">
            <input id="cb_bioklass" type="checkbox" name="aggr" value="bioklass"> <label for="cb_bioklass">Biotopwert Klasse</label>
        </div>
    </div>
    <div class="grouping" id="grouping2">
      <div>
          <div class="icons"><img class="info" src="{% static 'img/info-blue.svg' %}"
            title="Bestimmte Etappe der Entwicklung eines Waldbestandes charakterisiert durch dessen Grösse."
            data-url="{% url 'doc-specific' 'entwicklungsstufe' %}"></div>
          <input id="cb_stand_devel_stage" type="checkbox" value="stand_devel_stage" name="aggr">
          <label for="cb_stand_devel_stage">Entwicklungsstufe</label>
      </div>
      <div>
          <div class="icons"><img class="info" src="{% static 'img/info-blue.svg' %}"
            title="In einem Bestand oder in einer Bestandesschicht vorhandene Baumarten."
            data-url="{% url 'doc-specific' 'mischungsgrad' %}"></div>
          <input id="cb_stand_forest_mixture" type="checkbox" value="stand_forest_mixture" name="aggr">
          <label for="cb_stand_forest_mixture">Mischungsgrad</label>
      </div>
      <div>
          <div class="icons"><img class="info" src="{% static 'img/info-blue.svg' %}"
            title="Ist ein Mass für die Intensität der Kronenberührungen innerhalb eines Bestandes."
            data-url="{% url 'doc-specific' 'schlussgrad' %}"></div>
          <input id="cb_stand_crown_closure" type="checkbox" value="stand_crown_closure" name="aggr">
          <label for="cb_stand_crown_closure">Schlussgrad</label>
      </div>
    </div>
    <div class="grouping" id="grouping3">
      <!-- Phytosociology-related -->
      <div>
          <div class="icons"><img class="info" src="{% static 'img/info.svg' %}" title="Waldstandorte beider Basel nach Ellenberg und Klötzli"></div>
          <div><input id="cb_phyto_code" type="checkbox" name="aggr" value="phyto_code"> <label for="cb_phyto_code">Phytosoziologie</label></div>
      </div>
      <div>
          <div class="icons"><img class="info" src="{% static 'img/info.svg' %}" title="Ertragsfähigkeit für die wichtigsten Waldstandorte nach Ellenberg und Klötzli"></div>
          <div><input id="cb_inc_class" type="checkbox" name="aggr" value="inc_class"> <label for="cb_inc_class">Ertragsklasse</label></div>
      </div>
      <div>
          <div class="icons"><img class="info" src="{% static 'img/info.svg' %}" title="Ökologische Gruppen der wichtigsten Waldstandorte nach Ellenberg und Klötzli"></div>
          <div><input id="cb_ecol_grp" type="checkbox" name="aggr" value="ecol_grp"> <label for="cb_ecol_grp">Ökologische Gruppe</label></div>
      </div>

      <hr>
      <div>
        <div class="icons"><img class="info" src="{% static 'img/info.svg' %}" title="Standardabweichung(Wert) / Quadratwurzel(alle Punkte) / Durchschnitt(Wert)"></div>
        <div><input id="cb_stddev" type="checkbox" name="stddev" value="1" checked> <label for="cb_stddev">Mit Standardfehler</label></div>
      </div>
    </div>
  </div>
</div>
</form>

<div id="main_column">
    <div class="view-details" id="details-BWNATURN"><b>BWNATURN:</b> Diese Kennzahl bewertet die Naturnähe des Nadelholzanteils des Bestandes in Bezug zu der anzutreffenden Waldgesellschaft nach Ellenberg und Klötzli. Dabei wird zwischen 1 (gemischter Laubwald, der sehr weit vom natürlichen Waldbestand entfert ist), 2 (gemischter Laubwald der weit vom natürlichen Waldbestand entfernt ist), 3 (gemischter Laubwald der wenig vom natürlichen Waldbestand entfernt ist) und 4 (naturnaher gemischter Laubwald) unterschieden.
      <div class="togglable methode"><b>Methode</b></div>
      <div>Die Naturnähe des Nadelholzanteils ist abhängig von der Waldgesellschaft nach Ellenberg und Klötzli. Der Vergleich beruht einerseits auf dem Basalflächenanteil des Nadelholzes in Bezug zum Laubholz und andererseits auf dem Basalflächenanteil von Fichte (spruce) und je nach Waldgesellschaft der Tanne in Bezug zum Laubholz. Die Bäume ab Kluppschwelle 12cm werden beim Vergleich berücksichtigt. Die folgende Tabelle gemäss Brändli 2001 zeigt die dem Modell zugrundeliegenden Annahmen. Der Berechnung liegen sowohl die Kontrollstichproben als auch die pflanzensoziologische Kartierung zugrunde.
      <h4>NFI model for the closeness to nature of the forest stocking (BWNATURN).</h4>
      <table class="numbers">
        <thead>
          <tr><th>Code</th><th>Definition of the code (class)</th>
              <th>Derivation based on the thresholds for the conifer and spruce proportion</th>
              <th>Rating (weight)</th>
          </tr>
        </thead>
        <tbody>
          <tr><td>1</td><td>Mixed broadleaf forest that is very far from the natural state</td>
              <td>&gt;75% spruce<sup>1</sup></td><td>1</td></tr>
          <tr><td>2</td><td>Mixed broadleaf forest that is far from the natural state</td>
              <td>&gt;75% conifer<sup>2</sup>, &lt;75% spruce</td><td>2</td></tr>
          <tr><td>3</td><td>Mixed broadleaf forest that is moderately far from the natural state</td>
              <td>10%/25%-75% conifer<sup>3</sup></td><td>3</td></tr>
          <tr><td>4</td><td>Mixed broadleaf forest that is close to nature</td>
              <td>&lt;10%/25% conifer<sup>4</sup></td><td>4</td></tr>
          <tr><td>5</td><td>Conifer forest community</td>
              <td>E+K No. 47-71</td><td>4</td></tr>
        </tbody>
      </table>
      <table>
        <tr><td>E+K No.:</td><td>Number of the forest community according to Ellenberg and Klötzli (1972)</td></tr>
        <tr><td><sup>1</sup></td><td>E+K No. 1-46</td></tr>
        <tr><td><sup>2</sup></td><td>E+K No. 1-46, excluding fir for E+K No. 20 and 46</td></tr>
        <tr><td><sup>3</sup></td>
            <td>10%-75% conifer for E+K No. 1-7; 9-11; 13-17; 21-44<br>
                25%-75% conifer for E+K No. 8, 12, 18, 19<br>
                25%-75% conifer (excluding fir) for E+K No. 20, 46</td></tr>
        <tr><td><sup>4</sup></td>
            <td>&lt;10% conifer for E+K No. 1-7; 9-11; 13-17; 21-44<br>
                &lt;25% conifer for E+K No. 8, 12, 18, 19<br>
                &lt;25% conifer (excluding fir) for E+K No. 20, 46</td></tr>
      </table>
      Die Werte der pflanzensoziologischen Kartierung werden ebenfalls dem Datensatz der Kontrollstichproben entnommen [pflsoz]. Für die Berechnung des Nadelholzanteils sind die Einzelbaumaufnahmen Baumarten [iba] sowie der BHD [ibhd] nötig.
      </div>
    </div>

    <div class="view-details" id="details-BWARTEN"><b>BWARTEN:</b> Die Gehölzartenvielfalt im Bestand bestimmt die Anzahl Baumarten mit einem BHD von mindestens 12cm. Weiter werden Standorte mit Vorkommen von ökologisch wertvolle Baumarten (Birke, Weide, Erle, einheimische Pappelarten, einheimische Eichenarten, Sorbus-Arten, Wildkirsche, Wildapfel, Wildbirne, Waldföhre, Edelkastanie) mit 2 Punkten bewertet.
      <div class="togglable methode"><b>Methode</b></div>
      <div>Die folgende Tabelle gemäss Brändli 2001 zeigt die dem Modell zugrunde liegenden Annahmen. Der Berechnung liegen die Kontrollstichproben zugrunde. Es sind dies die Werte der Baumarten [iba] sowie deren BHD [ibhd].
        <h4>Derivation and weights for the ligneous species diversity in the NFI model (BWARTEN).</h4>
        <table class="numbers">
          <thead><tr><th>Number of tree species</th><th>Weight</th></tr></thead>
          <tbody>
            <tr><td>0 or 1 species</td><td>1</td></tr>
            <tr><td>2 species</td><td>2</td></tr>
            <tr><td>3 species</td><td>3</td></tr>
            <tr><td>4 species</td><td>4</td></tr>
            <tr><td>5 species</td><td>5</td></tr>
            <tr><th>Occurrence of special species <sup>1</sup></th><th>Weight</th></tr>
            <tr><td>No</td><td>0</td></tr>
            <tr><td>Yes</td><td>2</td></tr>
          </tbody>
        </table>
        <sup>1</sup> Birch, willow, alder, native poplar, native oak, sorbus species, wild cherry, wild apple and pear trees, Scotch pine, sweet chestnut
      </div>
    </div>

    <div class="view-details" id="details-BWSTRU"><b>BWSTRU:</b> Die Strukturvielfalt ist ein Modell zur bewertung der Waldstruktur auf Grund der Entwicklungsstufe, dem Schlussgrad sowie der Schichtung des Bestandes.
      <div class="togglable methode"><b>Methode</b></div>
      <div>Die Strukturvielfalt des Bestandes besteht aus den Parametern Entwicklungsstufe (EST), Schlussgrad des Bestandes (SCHLUSSG) sowie dem Schichtung des Bestandes (STRUK).
      <h4>Parameter and weight of the attributes used in the NFI model for the structural diversity of stands.</h4>
      <table class="numbers">
        <thead><tr><th>Parameter (attribute)</th><th>Abbreviated name</th><th>Categories (classes)</th><th>Weight</th></tr></thead>
        <tbody>
          <tr><td>Crown closure</td><td>SCHLUSSG</td>
            <td>Crowded<br>Normal<br>Loose<br>Open<br>Sparse<br>Grouped/crowded<br>Grouped/normal<br>Complete</td>
            <td>1<br>3<br>3<br>6<br>6<br>5<br>5<br>4</td>
          </tr>
          <tr><td>Stages of development</td><td>EST</td>
            <td>Young growth and thicket<br>Pole wood<br>Youg timber<br>Medium timber<br>Old timber<br>Mixed</td>
            <td>2<br>1<br>2<br>3<br>6<br>4</td>
          </tr>
          <tr><td>Stand structure</td><td>STRUK</td>
            <td>One-layered<br>Multi-layered<br>Multistorey<br>Cluster structure</td>
            <td>1<br>3<br>5<br>5</td>
          </tr>
        </tbody>
      </table>
      Dazu sind die folgenden Angaben der Kontrollstichproben nötig:
      <ol>
        <li>SCHLUSSG [befeinh]:<br>
gedrängt=crowded, geschlossen=normal, lückig=loos, aufgelöst=sparce, Jungwuchs=open, stufig=grouped, unbestockt=complete.</li>
        <li>EST [befeinh]:<br>
        Jungwuchs und Dickung=youth growth and thicket, schwaches Stangenholz=starkes Stangenholz=pole wood, schwaches Baumholz=young timber, mittleres Baumholz=medium timber, starkes Baumholz=old timber, stufig=mixed</li>
        <li>STRUK [iff]:<br>
	1=einschichtig=one-layered, 2=mehrschichtig=multi-layered, 3=stufig=multistorey, 	4=rottenstruktur=cluster structure</li>
      </ol>
      </div>
    </div>

    <div class="view-details" id="details-Biotopwert"><b>Biotopwert:</b> Für das Ökosystem Wald hat die Forschungsanstalt für Wald, Schnee und Landschaft WSL zur Messung der Biodiversität ein Biotopwert-Modell entwickelt (Brändli, 2001). Dieses Modell errechnet auf Grund der Baumartenvielfalt, der Strukturvielfalt (Entwicklungsstufe, Schichtung, Schlussgrad) sowie der Naturnähe des Bestandes einen Biotopwert für den Wald. Der Wert ist ein Ausdruck zur Bewertung von Waldbeständen als Lebensraum für einheimische Tier- und Pflanzenarten. Ein Wald mit einem hohen Biotop-Wert zeichnet sich wie folgt aus:
      <ul>
          <li>Es ist eine grosse Anzahl an Baumarten anzutreffen. Auch ökologisch besonders wertvolle Arten wie beispielsweise Weiden oder Eichen sind nachzuweisen.</li>
          <li>Der Bestand ist mehrschichtig aufgebaut, ist lückig und weist einen Anteil an Altholz auf.</li>
          <li>Der Nadelholzanteil, insbesondere der Fichtenanteil, überschreitet einen der Pflanzengesellschaft angepassten Anteil nicht.</li>
      </ul>
    <b>Biotopwertklassen:</b>
    Die Biotopwerten können in vier Klassen unterteilt werden. Im Rahmen des LFI werden Biotopwerte (BIOLFI1M) wie folgt klassiert:<br>
    <ul>
        <li>high: > 2.6</li>
        <li>tends to be high: 2.00 - 2.6</li>
        <li>tends to be low: 1.4 - 2.00</li>
        <li>low: < 1.4 </li>
        <li>1000: keine Angabe</li>
    </ul>

      <div class="togglable methode"><b>Methode</b></div>
      <div>
        Der Biotpwert wird aus der Naturnähe, der Gehölzartenvielfalt sowie der Strukturvielfalt errechnet.<br>
        <div style="border: 1px solid black; margin:1em; padding:4px;">
        Biotopwert= a*(Naturnähe) +  b*(Gehölzartenvielfalt) + c*(Strukturvielfalt)
        =  BWNATURN/4 + BWARTEN/7 + 2*BWSTRU1m/18
        </div>
        BWNATURN: siehe Methode Naturnähe des Nadelholzanteils.<br>
        BWARTEN: siehe Methode Gehölzartenvielfalt<br>
        BWSTRU1m: siehe Methode Strukturvielfalt<br>
      </div>
    </div>

    <div class="view-details" id="details-Totholz"><b>Totholz:</b> Abgestorbenes Holz (Bäume, Äste, Strünke) - (<i>tree_obs.vita_id = 4</i>).
    </div>

    <div class="view-details" id="details-Stammzahl">Berechnet für die Probebäume und eine zu bestimmende Auswahl (Perimeter, Gruppierung) die Stammzahl, die Grundfläche und das Volumen.<br>

      <div class="togglable methode"><b>Methode</b></div>
      <div>
        <div><b>Stammzahl:</b> {{ descriptions.stammzahl.short }}<br>
        {{ descriptions.stammzahl.long|safe }}
        </div>
        <div><b>Grundfläche</b> oder Basalfläche: {{ descriptions.grundflache.short }}<br>
        {{ descriptions.grundflache.long|safe }}
        </div>
        <div><b>Volumen:</b> {{ descriptions.volumen.short }}<br>
        {{ descriptions.volumen.long|safe }}
        </div>
      </div>
    </div>

    <div class="view-details" id="details-Einwuchs"><b>Einwuchs:</b> Gesamtheit der Stammzahl oder des Volumens jener Bäume, deren Brusthöhendurchmesser zwischen zwei aufeinander folgenden Inventuren die Kluppierungsschwelle überschritten hat. Alle Probebäume welche neu eingewachsen sind (<i>tree_obs.vita_id = 2 = Einwuchs</i>). Der Einwuchs kann erst für ein Folge-Inventar berechnet werden.<br>
    <em>Achtung:</em> Der Einwuchs wird für die gesamte Aufnahmeperiode (m³ pro ha) berechnet und nicht pro Jahr. Die Auswertung Zuwachs Total berechnet den Einwuchs pro Jahr.
      <div class="togglable methode"><b>Methode</b></div>
      <div>Zur Berechnung des Einwuchses werden alle Probebäume die im Folge-Inventar neu eingewachsen sind ausgewählt.<br>
        Es wir die Stammzahl, Volumen und die Grundfläche berechnet. Die Methode dieser Berechnung ist in "Stammzahl, Volumen, Grundfläche" dokumentiert.</div>
    </div>

    <div class="view-details" id="details-Nutzung">
      <b>Nutzung:</b> Entnahme von Holz und Bäumen (durch waldbauliche Eingriffe) oder von anderen Waldressourcen (z.B. Harz, Samen). Alle Bäume, welche seit der letzten Aufnahme genutzt wurden (<i>tree_obs.vita_id = 1 = Nutzung</i>). Die Nutzung kann erst für ein Folge-Inventar berechnet werden.<br>
      <em>Achtung:</em> Die Nutzung wird für die gesamte Aufnahmeperiode (m³ pro ha) berechnet und nicht pro Jahr.
      <div class="togglable methode"><b>Methode</b></div>
      <div>Zur Berechnung der Nutzung werden alle Probebäume die im Folge-Inventar genutzt wurden ausgewählt.<br>
        Es wir die Stammzahl, Volumen und die Grundfläche berechnet. Die Methode dieser Berechnung ist in "Stammzahl, Volumen, Grundfläche" dokumentiert.
      </div>
    </div>

    <div class="view-details" id="details-Zuwachs"><b>Zuwachs:</b> Der jährliche Volumen-Zuwachs aller Bäume zwischen zwei aufeinander folgenden Inventuren (<i>tree_obs.vita_id = 2</i>) - laufender jährliche Zuwachs aller Bäume. Das Volumen des Einwuchs wird addiert.
      <div class="togglable methode"><b>Methode Gesamtzuwachs (gz)</b></div>
      <div>
        <p>Der lebende Zuwachs wird für jeden Plot auf Grund von gemessenen BHD-Werten berechnet. Dieser Zuwachs bezeichnet den Zuwachs einer Subpopulation (Population der lebenden Bäume). Der Zuwachs der lebenden Population (S<sub>1</sub>) wird auf die gesamte Population (S<sub>total</sub>) extrapoliert. Der Einwuchs (S<sub>3</sub>) und die Population der genutzten und toten Bäume (S<sub>2</sub>) wird für die halbe Periode berechnet.</p>

        <p>Mit der folgenden Methode ist es möglich, über die Stammzahl von der Subpopulation der lebenden Bäume auf die Gesamtpopulation zu schliessen.</p>

        <p>[Subpopulation Lebend] =S<sub>1</sub><br>
        [Subpopuation Tot] = S<sub>2</sub><br>
        [Subpopulation Einwuchs]=  S<sub>3</sub><br>
        [Gesamtzuwachs]= S<sub>total</sub></p>

        <ul>
            <li>lebender Zuwachs (S<sub>1</sub>) [m<sup>3</sup>/(ha y)]: Der Lebende Zuwachs kann exakt auf Grund der Feldmessungen berechnet werden.</li>
            <li>Zuwachs der toten und genutzten Bäume (S<sub>2</sub>) [m<sup>3</sup>/(ha y)]: („mittlere jährlicher Zuwachs pro lebender Baum pro plot“ [m<sup>3</sup>/(ha y)] / 2)* „Stammzahl der toten und genutzten Bäume pro plot“. Bedingung: Der Zuwachs der toten und genutzten Bäume wird nur berechnet, wenn der %-Anteil der lebenden Bäume (Stammzahl) grösser 50% ist oder die absolute Stammzahl der lebenden Bäume pro plot grösser 7 ist.</li>
            <li>Zuwachs Einwuchs (S<sub>3</sub>)[m<sup>3</sup>/(ha y)]: („mittlerer Durchmesser (cm) der eingewachsenen Bäume pro plot“- „11cm“)/(0.5*“Anzahl Jahre zwischen den beiden Inventaren“)</li>
        </ul>

        <p>Bemerkung:<br>
        Der Zuwachs kann nicht für eine Erstaufnahme berechnet werden.</p>
      </div>
    </div>

    <div class="groupment-details" id="details-cb_inc_class">
        <b>Ertragsklassen:</b> Die Ertragsfähigkeit für die wichtigsten Waldstandorte nach Ellenberg und Klötzli wird im Rahmen einer naturnahen Waldpflege mit nachhaltig standortsverträglicher Baumartenzusammensetzung grob geschätzt. Es handelt sich dabei um eine gutachtliche Schätzung (Quelle: Waldstandorte beider Basel).<br>
        1: sehr gut, 2:gut, 3: mittel, 4: schlecht, 5: unproduktiv<br>
        Die Klassierung der Waldgesellschaften nach Ertragsklassen kann <a href="{% url 'data_model' 'phytosoc' %}">hier nachgeschlagen werden</a>.
    </div>

    <div class="groupment-details" id="details-cb_ecol_grp">
        <b>Ökologische Gruppen:</b> Die wichtigsten Waldstandorte nach Ellenberg und Klötzli können in verschiedene ökologische Gruppen unterteilt werden:<br>
        A: wüchsige Buchenwälder der submontanen Stufe, B: Buchenmischwälder, am Übergang kolline/submontane Stufe, C:Buchenwälder auf trockenen/wechseltrockenen Kalkböden, D: wüchsige Buchenwälder der unteren Montanstufe, E:Tannen-Buchenwälder, F:Hangschutt-Wälder, G:Eschen- und Erlenwälder, H: Eichen- und Föhrenwälder warmer Lagen, I: Föhrenwälder, O:Wälder auf aufgeschütteten Böden / stark veränderte Standorte.<br><br>

        Die Klassierung der Waldgesellschaften nach ökologischen Gruppen kann <a href="{% url 'data_model' 'phytosoc' %}">hier nachgeschlagen werden</a>.
    </div>

    <div class="groupment-details" id="details-cb_phyto_code">
        <b>Phytosoziologie, Definition geoview.bl.ch:</b> Jede Baumart hat ihre Ansprüche an den Boden und das Klima; der Förster sagt auch: an den Waldstandort. Ebenso ergeht es den Sträuchern, den Kräutern, den Gräsern, den Moosen und den Flechten, aber auch den unzähligen Tierarten. Sie bilden Lebensgemeinschaften oder Waldgesellschaften.<br>
        Diese Waldgesellschaften sind auf den Standortskarten festgehalten, in unterschiedlichen Farben dargestellt und in dem dazugehörigen Buch "Waldstandorte beider Basel" beschrieben. Dieses Werk ist sowohl Grundlage für eine naturnahe Pflege und Nutzung der Wälder als auch für naturschützerische und planerische Belange.
    </div>

    <div id="refresh"><input type="button" value="Daten aktualisieren"> <img id="wait" class="hidden" src="{% static 'img/indicator.gif' %}"></div>
    <div id="server_error" class="error hidden">Leider erzeugt die Abfrage einen Fehler auf dem Server.</div>
    <div id="client_error" class="error hidden"></div>

    <div id="tabs">
      <ul class="tabs">
        <li id="data-tab" class="tab active">Daten</li>
        <li id="map-tab" class="tab">Karte</li>
      </ul>
    </div>

    <div id="datamain">
        <table id="datatable" class="numbers">
          <thead><tr><td>Data...</td></tr></thead>
          <tbody></tbody>
        </table>
    </div>
    <div id="mapmain">
        <div id="map"></div>
        <ul id="cols" class="nobullet"></ul>
    </div>
    <div class="icons">
        <a href="?format=csv" id="csv-export" class="icon"><img src="{% static 'img/csv.png' %}" alt="CSV logo" title="Export als CSV"></a>
    </div>
</div>

{% endblock %}
