{% extends "base.html" %}
{% load ksp_utils %}

{% block extra_head %}
<script>
    $(document).ready(function () {
        color_standardfehler($("td.sf"));
    });
</script>
{% endblock %}

{% block content %}
<div style="float:right;">
    {{ inv_choice|safe }}
</div>
<br clear="right">

<table class="numbers" style="margin: 0 auto;">
<thead><tr>
    <th>Gemeinde <div class="icons"><img class="info" src="{{ STATIC_URL }}img/info.png" title="politische Gemeinde"></div></th>
    <th>Waldfläche (2015)
        <div class="icons"><img class="info" src="{{ STATIC_URL }}img/info.png" title="Die theoretische Waldfläche basiert auf der Auswertung der Bestandeskarte 2015">
        </div>
    </th>

    <th>Jahr <div class="icons"><img class="info" src="{{ STATIC_URL }}img/info.png" title="Aufnahmejahr der Kontrollstichproben"></div></th>
    <th>Anzahl<br>Probepunkte
        <div class="icons"><img class="info" src="{{ STATIC_URL }}img/info.png" title="Anzahl der aufgenommen Probepunkte">
        </div>
    </th>
    <th>Anzahl<br><a href="{% url 'docs' %}#probebaume">Probebäume</a></th>
    <th>theoretische Waldfläche
        <div class="icons"><img class="info" src="{{ STATIC_URL }}img/info.png" title="Gesamtheit aller Flächen, die gemäss Walddefinition der Aufnahmeleitung als Wald bezeichnet werden und durch Kontrollstichprobenflächen repräsentiert sind. Unbestockte Flächen oder Waldstrassen (Blösen) gehören ebenfalls zur Waldfläche.">
        </div>
    </th>

    <th>Stammzahl (Stk./ha)
        <div class="icons">
          <img class="info" src="{% static 'img/info-blue.svg' %}"
            title="{{ descriptions.stammzahl.short }} Klicken Sie für weitere Informationen."
            data-url="{% url 'doc-specific' 'stammzahl' %}">
        </div>
    </th>
    <th title="Standardfehler">Sf [%]</th>

    <th>Vorrat Einheitstarif BL (m<sup>3</sup>/ha)
        <div class="icons">
          <img class="info" src="{% static 'img/info-blue.svg' %}"
            title="{{ descriptions.volumen.short }} Klicken Sie für weitere Informationen."
            data-url="{% url 'doc-specific' 'volumen' %}">
        </div>
    </th>
    <th title="Standardfehler">Sf [%]</th>

    <th>Grundfläche (m<sup>2</sup>/ha)
        <div class="icons">
          <img class="info" src="{% static 'img/info-blue.svg' %}"
            title="{{ descriptions.grundflache.short }} Klicken Sie für weitere Informationen."
            data-url="{% url 'doc-specific' 'grundflache' %}">
        </div>
    </th>
    <th title="Standardfehler">Sf [%]</th>
    </tr>
</thead>
<tbody>
{% for name, gem in gemeinden.items %}
  {% if not gem.years %}
    <tr><td valign="top"><a href="{% url 'gemeinde' gem.obj.pk %}">{{ gem.obj.name_with_k }}</a></td>
        <td>-</td><td>-</td><td>-</td>
    </tr>
  {% else %}
    {% for data in gem.years %}
    <tr>{% if forloop.first %}
        <td valign="top" rowspan="{{ gem.years|length }}">
            <a href="{% url 'gemeinde' gem.obj.pk %}">{{ gem.obj.name_with_k }}</a>
        </td>
        <td valign="top" rowspan="{{ gem.years|length }}">
            {{ data.waldflaeche_bestand|div:10000|floatformat }}
        </td>
        {% endif %}
        <td>{{ data.jahr|default_if_none:'-' }}</td>
        <td>{{ data.probepunkte }}</td><td>{{ data.probebaum_abs|default_if_none:'-' }}</td>
        <td>{{ data.waldflaeche|default_if_none:'-' }}</td>
        <td>{{ data.stammzahl_ha|default_if_none:'-' }}</td><td class="sf">{{ data.stammzahl_stdf|display_value }}</td>
        <td>{{ data.volumen_ha|default_if_none:'-' }}</td><td class="sf">{{ data.volumen_stdf|display_value }}</td>
        <td>{{ data.grundflaeche_ha|default_if_none:'-' }}</td><td class="sf">{{ data.grundflaeche_stdf|display_value }}</td>
    </tr>
    {% endfor %}
  {% endif %}
{% endfor %}
</tbody></table>
<div class="db_view">[aus <a href="{% url 'view_def' db_view.oid %}">{{ db_view.name }}</a>]</div>

<div class="icons">
    <a href="?format=csv" class="icon"><img src="{{ STATIC_URL }}img/csv.png" alt="CSV logo" title="Export als CSV"></a>
</div>

<div style="margin-top: 1em; font-size: small; color: #444;">
    <div style="display: inline-block; height: 1.4em; width: 3em; background-color: #fabf8f"></div>
    Standardfehler über 10%<br>
    <div style="display: inline-block; height: 1.4em; width: 3em; background-color: #ff6161"></div>
    Standardfehler über 25%
</div>

{% endblock %}
