{% extends "base.html" %}

{% block htitle %}Dokumentation{% endblock %}

{% block content %}
<h2>Erklärung der Begriffe der forstlichen Planung</h2>

<dl>
    <dt>Abgeltung</dt>
    <dd>Milderung oder Ausgleich finanzieller Lasten, die sich aus der Erfüllung von gesetzlich oder öffentlich-rechtlich vorgeschriebenen bzw. übertragenen Aufgaben ergeben. Aus der Anordnung solcher Aufgaben lässt sich ein Rechtsanspruch auf deren Abgeltung geltend machen.</dd>

    <dt>Bestand</dt>
    <dd>Baumkollektiv, das sich von der Umgebung durch Baumartenzusammensetzung, Alter, Aufbau oder andere Merkmale wesentlich unterscheidet. Die Fläche ist gross genug, dass eine eigenständige, langfristige Zielsetzung für die Waldbehandlung möglich ist.Bestandeskarte</dt>
    <dd>kartographische Wiedergabe der Bestände in einem Gebiet.</dd>

    <dt>Betretungsrecht</dt>
    <dd>Art 699 ZGB garantiert die freie Zugänglichkeit zu öffentlichem und privatem Waldeigentum.</dd>

    <dt>Betriebsplan, forstlicher</dt>
    <dd>Umschreibung und Festlegung der betrieblichen Ziele eines Waldeigentümers bezogen auf die Bewirtschaftung, Pflege und Nutzung seines Waldes. Ausweis der Zielerreichung in der vergangenen Betriebsplan-Periode. Der Planungshorizont ist mittelfristig, d.h. 10 – 15 Jahre. Die übergeordneten Ziele aus dem WEP sind zu berücksichtigen. Die im Betriebsplan festgelegten Massnahmen sind rechtlich verbindlich und sollen den erfolgversprechenden Weg zur dauernden Erhaltung der Waldfunktionen weisen.</dd>

    <dt>Bewirtschaftungsform</dt>
    <dd>Die waldbauliche Art der Behandlung eines Waldes. Zu unterscheiden sind insbesondere „Hochwald“-, „Mittelwald“-, „Niederwald“- sowie „Plenterwald“/“Dauerwald“-Bewirtschaftung.</dd>

    <dt>Dauerwald</dt>
    <dd>Dauerwald ist ein ungleichaltriger, gemischter, mit möglichst hochwertigen Vorräten bestockter, vertikal strukturierter, ökologisch wertvoller Wald, in dem die Naturverjüngung genutzt wird.</dd>

    <dt>Einwachsende Fläche</dt>
    <dd>natürlich entstehender Wald auf nicht genutzten Freilandflächen.</dd>

    <dt>Entwicklungsstufen</dt>
    <dd>die verschiedenen Altersstufen eines Baumbestandes. Unterschieden werden anhand des Stammdurchmessers auf Brusthöhe: Jungwuchs, Dickung (0-10), Stangenholz (10-30), Baumholz (>30), Starkholz (>50).</dd>

    <dt>Erholungsfunktion</dt>
    <dd>eine der verschiedenen, durch den Wald abzudeckenden Funktionen; Sie beinhaltet die Verfügbarkeit des Waldes als Erholungs- und Freizeitraum.</dd>

    <dt>Erschliessung</dt>
    <dd>Die Gesamtheit der für die Pflege und Nutzung des Waldes vorhandenen Anlagen. Dazu gehören Waldwege, Maschinenwege und Rückegassen als ständige und vor allem im Gebirge Seilanlagen als mobile Einrichtungen.</dd>

    <dt>Femelschlag</dt>
    <dd>Kleinflächige Holznutzung, die eine Verjüngung in kleineren Lücken ermöglicht.</dd>

    <dt>Finanzhilfe</dt>
    <dd>finanzielle Vorteile, die gewährt werden, um die Erfüllung einer vom Empfänger selbst gewählten Aufgabe zu unterstützen. Finanzhilfen werden nur im Rahmen budgetierter Mittel gewährt</dd>

    <dt>Forstbetrieb</dt>
    <dd>organisatorische Einheit eines oder mehrerer meist öffentlicher Waldeigentümer, die mit der Aufgabe der Waldpflege- und Bewirtschaftung betraut ist.</dd>

    <dt>Forstkreise</dt>
    <dd>Verwaltungseinheit auf kantonaler Ebene, in der mehrere Forstreviere zusammengefasst sind; der Forstkreis wird von einem/r KreisforstingenieurIn mit Wählbarkeitszeugnis betreut.</dd>

    <dt>Forstliche Baute</dt>
    <dd>Gebäude oder Anlage, die ausschliesslich bzw. überwiegend forstlichen Zwecken dient und für deren Erstellung, falls sie im Wald liegt, keine Rodungsbewilligung notwendig ist.</dd>

    <dt>Forstliche Planung (Forsteinrichtung)</dt>
    <dd>Bestandteile der forstlichen Planung sind der Waldentwicklungsplan und der Betriebsplan sowie die daraus abgeleiteten jährlichen Hauungs- und Pflegeprogramme.</dd>

    <dt>Forstrevier</dt>
    <dd>der organisatorische Zusammenschluss der Wälder bzw. der Waldeigentümer auf dem Gebiet mehrerer Einwohnergemeinden zur gemeinsamen Betreuung oder auch die Betriebsform eines einzelnen Waldeigentümers.</dd>

    <dt>Gastbaumart</dt>
    <dd>Standortsfremde, aber standortstaugliche Baumart.</dd>

    <dt>Gemeinwirtschaftliche Leistungen</dt>
    <dd>die vielfältigen Funktionen, die der Wald und indirekt der Waldeigentümer der Allgemeinheit zur Verfügung stellt.</dd>

    <dt>Hochwald</dt>
    <dd>Heute übliche Betriebsart mit einer aus Kernwüchsen hervorgegangenen Oberschicht, bei welcher die Bäume im voll erwachsenen Zustand in relativ langen Umtriebszeiten genutzt werden. Das Ergebnis der Hochwald-Bewirtschaftung liegt darin, dass möglichst viele Bäume als Wert- bzw. Nutzholz gepflegt werden. Die darunterliegende Bestockung hat „dienende“ Funktion für die Oberschicht. </dd>

    <dt>Hoheitsfunktion</dt>
    <dd>Gutachtliche Entscheidung von Amtes wegen. Sie umfasst Aufsichts-, Kontroll- und forstpolizeiliche Aufgaben. Sie wird im Kanton durch den Revierförster und den Kreisforstingenieur wahrgenommen. </dd>

    <dt>Holzenergieanlagen</dt>
    <dd>Anlagen für die energetische Verwertung von Holz, wie Schnitzelheizungen, Holzvergasungsanlagen u.a.</dd>

    <dt>Holzertrag</dt>
    <dd>für den Eigenbedarf oder den Verkauf geerntetes Holz.</dd>

    <dt>Holzschlag</dt>
    <dd>örtlich und zeitlich begrenzte Nutzung von Holz.</dd>

    <dt>Kahlschlag</dt>
    <dd>das grossflächige Entfernen einer Bestockung bei fehlender Bodenbedeckung durch junge Waldbäume, die freilandähnliche Bedingungen schafft. Die anschliessende Wiederbestockung ist in der Regel nur durch eine künstliche Verjüngung (Pflanzung von Bäumen) möglich.</dd>

    <dt>Kleinbaute, nichtforstliche</dt>
    <dd>Baute innerhalb des Waldareals, die keine oder nur geringe Aus-wirkungen auf das Bestandesgefüge hat und deshalb unter bestimmten Bedingungen ohne Rodungsbewilligung erstellt werden darf. Das ordentliche Baubewilligungsverfahren bleibt vorbehalten. Kleinbauten sind zum Beispiel Feuerstellen, Ruhebänke, Sport- und Lehrpfade, kleine Schutzhütten, Wasser‑ und Telekommunikationsleitungen u. ä.</dd>

    <dt>Maschinenweg</dt>
    <dd>maschinell hergerichtete Fahrpiste ohne Befestigung der Fahrbahn für spezielle Maschinen des Holztransportes.</dd>

    <dt>Nachhaltige Waldbewirtschaftung</dt>
    <dd>"Bewirtschaftung der Ressource Wald, welche die langfristige Gewährleistung der verschiedenen Waldfunktionen sicherstellt. Sie dient der Steuerung der Waldbeanspruchung durch den Menschen und basiert auf der Überwachung von Waldveränderungen.<br>
    Helsinki-Resolution von 1993: „Nachhaltige Bewirtschaftung der Wälder in Europa: Verwaltung und Nutzung der Wälder auf eine Weise und in einem Masse, dass sie ihre biologische Vielfalt, Produktivität, Erneuerungsfähigkeit und Vitalität behalten sowie ihre Fähigkeit, jetzt und in Zukunft die relevanten ökologischen, ökonomischen und sozialen Funktionen auf lokaler, nationaler und globaler Ebene zu erfüllen und dass kein Schaden anderen Ökosystemen zugeführt wird.“"</dd>

    <dt>Nachhaltigkeit (allgemein)</dt>
    <dd>Definition der Brundtland-Kommission 1987: „Nachhaltig ist eine Entwicklung, wenn sie gewährleistet, dass die Bedürfnisse der heutigen Generation befriedigt werden, ohne die Möglichkeiten künftiger Generationen zur Befriedigung ihrer eigenen Bedürfnisse zu beeinträchtigen.”</dd>

    <dt>Naturnaher Waldbau</dt>
    <dd>Form der Behandlung von Beständen, die sich an den natürlichen Gegebenheiten und Abläufen orientiert bzw. diese einbezieht.</dd>

    <dt>Niederwald</dt>
    <dd>Älteste Form der geregelten Waldnutzung, vorwiegend zur Brennholzgewinnung und Gerbrindenerzeugung. Sie begünstigte Baumarten mit der Fähigkeit zum Stockausschlag (Eichen, Hainbuche = Hagebuche) und drängte dadurch die ursprünglich weit verbreitete Rotbuche zurück. Niederwald wird in kurzen Zeitabständen kahl geschlagen.</dd>

    <dt>Nutzfunktion</dt>
    <dd>die der Holzgewinnung dienende Leistung des Waldes.</dd>

    <dt>Nutzung</dt>
    <dd>die Gewinnung von Holz aus Waldbeständen im engeren Sinn.</dd>

    <dt>Ökosystem</dt>
    <dd>Gefüge von Wechselbeziehungen zwischen belebter und unbelebter Natur, das sich bis zu einem gewissen Grad selbst reguliert.</dd>

    <dt>Pflanzengesellschaft</dt>
    <dd>alle Pflanzenarten (Bäumen, Sträuchern, Blumen, Gräsern, Farnen, Moosen und Pilze), die an einem bestimmten standörtlich einheitlichen Ort eine Gesellschaft mit wechselseitigem Wirkungsgefüge bilden. </dd>

    <dt>Pflege</dt>
    <dd>lenkende Eingriffe in Waldbestände, bei denen nicht die Holzgewinnung im Vordergrund steht, sondern das Bestreben, langfristig naturnahe, stabile und qualitativ gute Waldbestände zu formen.</dd>

    <dt>Pioniervegetation</dt>
    <dd>Anfangsstadien der Sukzession (Pflanzenfolge) auf offenem Boden oder nach Räumungsschlägen mit spezifischen Pflanzen- und Tierarten.</dd>

    <dt>Rodung</dt>
    <dd>die dauernde oder vorübergehende Zweckentfremdung von Waldboden für nichtforstliche Zwecke; Rodungen beinhalten nicht zwingend das Fällen von Bäumen.</dd>

    <dt>Rodungsersatz</dt>
    <dd>im Regelfall Realersatz ausnahmsweise auch Massnahmen für den Natur- und Heimatschutz.</dd>

    <dt>Rote Liste</dt>
    <dd>gibt darüber Auskunft, welche Arten im betrachteten Gebiet verschwunden, bedroht oder selten sind und deshalb eines Schutzes bedürfen. Dient als Grundlage zur Ausarbeitung von Strategien zur Erhaltung der Arten. </dd>

    <dt>Rückegasse</dt>
    <dd>unbefestigte, nicht maschinell hergerichtete Fahrpiste für Spezialfahrzeuge oder den Pferdeeinsatz.</dd>

    <dt>Schlaganzeichnung</dt>
    <dd>Bestimmung der Bäume, die im Rahmen eines Holzschlages genutzt werden sollen.</dd>

    <dt>Schutzfunktion</dt>
    <dd>sie umfasst die Leistung, die der Wald dort erfüllt, wo er den Widrigkeiten der Natur trotzt und so Menschenleben und erhebliche Sachwerte schützt, z.B. Wald an Steilhängen.</dd>

    <dt>Standortbedingungen</dt>
    <dd>die naturgegebenen Umstände einer Fläche (Boden, Klima, Geländeform, Meereshöhe etc.)</dd>

    <dt>standortfremd</dt>
    <dd>Auf einem Standort von Natur aus nicht vorkommend</dd>

    <dt>standortgerecht</dt>
    <dd>den Standortbedingungen angepasst bzw. entsprechend</dd>

    <dt>standortheimisch</dt>
    <dd>Auf einem Standort von Natur aus vorkommend, auch autochthon</dd>

    <dt>Sukzession</dt>
    <dd>natürliche Abfolge von Entwicklungsphasen der Vegetation im Walde, z.B. Kahlfläche – Pionierwald – Schlusswald – Zerfallsphase – evtl. wieder Kahlfläche oder Hochstaudenflur – Pionierwald usw.</dd>

    <dt>Übernutzung</dt>
    <dd>zu hohe Beanspruchung von Wald und Waldboden in irgendeiner Form.</dd>

    <dt>Umtriebszeit</dt>
    <dd>planmässig festgelegter Zeitraum zwischen Begründung und Räumung eines Bestandes.</dd>

    <dt>Vegetationskarte</dt>
    <dd>kartographische Abbildung der natürlichen Pflanzengesellschaften.</dd>

    <dt>Vermehrungsgut forstliches</dt>
    <dd>Sammelbegriff für Samen, Stecklinge, Pflanzgut.</dd>

    <dt>Vorratserhebung</dt>
    <dd>Messung des stehenden Holzvolumens.</dd>

    <dt>Waldbau</dt>
    <dd>die lenkende, pflegerische Tätigkeit der Forstleute.</dd>

    <dt>Waldentwicklungsplan (WEP)</dt>
    <dd>quasi die raumplanerische Behandlung des Waldgebietes. Es bildet die Grundlage des Betriebsplanes. Planerischer Inhalt sind die grobe Waldfunktionenzuweisung und daraus abgeleitet die übergeordneten Waldziele. Eine weitere Komponente ist die auf aktuellen Aufnahmen beruhende Zustandsbeschreibung der Waldungen. Das Bundeswald-gesetz schreibt die Mitwirkung der Öffentlichkeit bei der Erstellung des Waldentwicklungsplanes vor. </dd>

    <dt>Waldfeststellung</dt>
    <dd>Verfahren zur Feststellung, ob eine bestockte Fläche die Kriterien des Waldbegriffes erfüllt.</dd>

    <dt>Waldfunktionen</dt>
    <dd>Umschreibung der unterschiedlich ausgeprägten Leistungen, die der Wald für die unterschiedlichen Ansprüche zu erbringen hat.</dd>

    <dt>Waldgesellschaft</dt>
    <dd>siehe Pflanzengesellschaft.</dd>

    <dt>Waldreservat</dt>
    <dd>Waldfläche, auf der Naturschutz Priorität hat. Waldreservate werden in Totalwaldreservate (ohne forstliche Nutzung) und Sonderwaldreservate (mit gezielten Eingriffen für die Artenvielfalt) unterteilt. </dd>

    <dt>Waldstrassen</dt>
    <dd>Dauernd mit Lastwagen befahrbare Waldwege, die einen entsprechenden baulichen Untergrund sowie eine Deckschicht als Fahrbahn besitzen. Sie werden nach den Gesichtspunkten der örtlich zweckmässigen Waldpflege, des Holztransportes und der minimalen Erstellungs- und Unterhaltskosten gebaut.</dd>

    <dt>Wildruhegebiet</dt>
    <dd>Das Wildruhegebiet dient dem Schutz von Flora und Fauna vor übermässigem Gemeingebrauch. Insbesondere soll das Wild in den Einstandsgebieten nicht beunruhigt werden, damit indirekte Schäden an der Vegetation vermieden werden.</dd>

    <dt>Wildschaden</dt>
    <dd>der von Wildtieren an Wald(bäumen) verursachte ökonomische oder ökologische Schaden.</dd>

    <dt>Zuwachsermittlung</dt>
    <dd>Messen und Berechnen des im Wald heranwachsenden Holzvorrates. Dieser mehrt sich durch das jährliche Höhen- und Dickenwachstum der Bäume.</dd>
</dl>
{% endblock %}
