{% extends "base.html" %}
{% load ksp_utils %}

{% block htitle %}{{ inventory.municipality.name }} - {{ inventory.year }}{% endblock %}

{% block extra_head %}
{% include "map_headers.html" %}
  <script src="{% static 'js/inventory.js' %}"></script>

<style>
div#map { display: inline-block; text-align: center; width: 60%; max-width: 800px; height: 500px; margin-bottom: 0.5em; }
div#legend { display: inline-block; width: 37%; font-size: small; }
form#newplot_form, form#shapeForm { display: none; }
input#id_latitude, input#id_longitude { padding: 5px 0; }
fieldset#plot-details { margin-bottom: 1em; }
fieldset#plot-details legend { font-size: large; font-weight: bold; }
</style>

<script>
var gem_vector = JSON.parse('{{ inventory.municipality.as_geojson|safe }}'),
    municipalityCenter = {{ center|coords_to_js }},
    inventory = {
        is_passed: {{ inventory.is_passed|yesno:'true,false' }},
        plotobs_url: "{% url 'inventory-plotobs' inventory.pk %}",
        plots_noobs_url: "{% url 'inventory-plots-no-obs' inventory.pk %}",
        exclude_plots_url: "{% url 'inventory-exclude-plots' inventory.pk %}"
    };
</script>
{% endblock %}

{% block content %}
<h1>Inventar {{ inventory.municipality.name }} - {{ inventory.year }}</h1>

<div id="map"></div>
<div id="legend">
    <div><img src="{% static 'img/poly_gem.png' %}" width="20"> Gemeindepolygon</div>
    <div><img src="{% static 'img/poly_inv.png' %}" width="20"> Inventarpolygon</div>
    <div><img src="{% static 'img/point_blue.png' %}"> Dieser Plot wurde inventarisiert (<span id="plotobsCount"></span>).</div>
    <div><img src="{% static 'img/point_white.png' %}"> Dieser Plot wird nächstens inventarisiert (war in letztes Inventar) (<span id="plotCurrentCount"></span>).</div>
    <div><img src="{% static 'img/point_lgrey.png' %}"> Dieser Plot wird nächstens inventarisiert (war <b>nicht</b> in letztes Inventar) (<span id="plotObsoleteCount"></span>).</div>
    <div><img src="{% static 'img/point_grey.png' %}"> Dieser Plot wird <b>nicht</b> inventarisiert (<span id="plotExcludedCount"></span>).</div>
</div>
<div id="plot"></div>

{% if not inventory.is_passed %}
<div id="newplot">
    <button id="showform">KSP hinzufügen</button>
    <!--button id="savePolygon" data-url="{% url 'inventory-savepolygon' inventory.pk %}">Inventar Polygon speichern</button-->
    <button id="shpBtn">KSP aus Shapefile importieren</button>

    <form id="newplot_form" action="{% url 'inventory-new-plot' inventory.pk %}" method="post">
        {% csrf_token %}
        Länge: <input id="id_longitude" name="longitude" type="number" step="100"><br>
        Breite: <input id="id_latitude" name="latitude" type="number" step="100"><br>
        <button id="newplot_submit">Speichern</button>
        <button id="newplot_cancel">Stornieren</button>
    </form>

    <form id="shapeForm" action="{% url 'inventory-new-plots-shape' inventory.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
        <h3>Shapefile (.zip) importieren</h3>
        <input type="file" name="shapefile"><br>
        <button id="shapeForm_submit">Importieren</button>
        <button class="cancel">Stornieren</button>
        </fieldset>
    </form>
</div>
{% endif %}

<script>


</script>
{% endblock %}
