{% load ksp_utils l10n %}

{% for otherobs in siblings %}
    <a href="{{ otherobs.get_absolute_url }}">{{ otherobs.year }}</a>
{% endfor %}

<div id="plot_details">
  <h3>Kontrollstichprobeaufnahme
     (plot <a href="{{ plotobs.plot.get_absolute_url }}">{{ plotobs.plot.nr }}</a> - {{ plotobs.year }})</h3>

  <div class="map_container">
    <div id="map_details"></div>
    <div class="coordinates">
        <pre>Theoretisch: {{ center.coords|swiss_rounded }}
      Genau: {{ plotobs.plot.point_exact.coords|swiss_rounded }}</pre>
    </div>
  </div>

  <table class="properties">
    {% for name, prop in properties.items %}
      {% if name not in hidden_props %}
      <tr><th>{{ name }}:</th>
          <td>{% if name == "Gemeinde" %}<a href="{% url 'gemeinde' gemeinde.pk %}">{{ prop|display_value }}</a>
          {% else %}{{ prop|display_value }}{% endif %}</td>
      </tr>
      {% endif %}
    {% endfor %}
  </table>

  <h3>Bäume</h3>
  <table class="properties">
    <tbody>
    {% for tobs in treeobs %}
    <tr>
        <th>{{ tobs.tree.nr }}</th>
        <td>{{ tobs.tree.spec }}</td><td>{{ tobs.tree.azimuth }}/{{ tobs.tree.distance }}</td>
        <td>{{ tobs.dbh }}</td><td>{{ tobs.vita }}</td><td>{{ tobs.remarks }}</td>
        {% if user.is_staff %}<td><a href="{% url 'admin:observation_treeobs_change' tobs.pk %}"><img src="{% static 'img/edit.jpg' %}" width="16"></a></td>{% endif %}
    </tr>
    {% empty %}
    <tr><td>-</td></tr>
    {% endfor %}
    </tbody>
  </table>
</div>

<script>
var center = {{ center|coords_to_js }};
    centerExact = {{ center_exact|coords_to_js }};
var map_det = new ol.Map({
    target: 'map_details',
    layers: [baselayer],
    view: new ol.View({
      projection: proj_2056,
      center: center,
      zoom: 19
    })
});

var geojson = '{{ geojson|safe }}';
var vLayer = new plotobsLayer(
    center, centerExact, geojson.replace(/\n/g, "\\n").replace(/\r/g, "\\r"), {{ plotobs.plot.radius|unlocalize }}
);
map_det.addLayer(vLayer.layer);

</script>
