{% extends "base.html" %}
{% load ksp_utils l10n %}

{% block htitle %}Plot {{ plot.nr }}{% endblock %}

{% block extra_head %}
  {% include "map_headers.html" %}
  <style>
    div.plotobs { width: 300px; float: left; }
    div.obs_map { width: 220px; height: 220px; }
    div.trees { font-size: small; }
    div.sync { color: green; }
    div.sync_partial { color: orange; }
    div.nosync { cursor: pointer; }
    div.selected { font-weight: bold; background-color: #aaa; padding: 3px; }
    div.selected img { display: inline !important; float: right; }
    span.code_c { color: red; }
    span.code_m { color: red; }
  </style>
  <script>
    function reconcile_url() {
        return "{% url 'tree_reconcile' %}" + '?tree1=' + $('div.selected:eq(0)').data('pk') + '&tree2=' + $('div.selected:eq(1)').data('pk');
    }

    $(document).ready(function() {
        // Create map for each plotobs div
        $("div.plotobs").each(function () {
            var center = $(this).data('center');
                centerExact = $(this).data('centerexact');
            var map_det = new ol.Map({
                target: $(this).find('.obs_map').get(0),
                layers: [baselayer],
                view: new ol.View({
                  projection: proj_2056,
                  center: center,
                  zoom: 20
                })
            });
            var vLayer = new plotobsLayer(center, centerExact, $(this).data('json'), $(this).data('radius'));
            map_det.addLayer(vLayer.layer);
        });

        $("div.treeline").click(function(ev) {
            // Select or unselect tree line, load reconcile form if two are selected
            if ($(this).parent().hasClass('sync')) return;
            $(this).closest('.trees').find('div.selected').not($(this).parent()).removeClass('selected');
            $('form#reconcile, form#treeedit').remove();
            $(this).parent().toggleClass('selected');
            if ($('div.selected').length > 1) {
                // Display reconcile form
                $('div.selected').last().append('<form id="reconcile" method="POST" action="."></form>');
                $('form#reconcile').load(reconcile_url());
            }
        });
        $("div.nosync, div.sync_partial").on('submit', 'form#reconcile', function(ev) {
            ev.preventDefault();
            $.post(reconcile_url(), $(this).serialize(), function(data) {
                if (data == 'OK') {
                    $('form#reconcile').remove();
                    $('div.selected').removeClass('selected').removeClass('nosync').addClass('sync');
                }
            });
        });

        $("img.edit").click(function(ev) {
            ev.stopPropagation();
            $(this).parent().append('<form id="treeedit" method="POST" action="."></form>');
            $("form#treeedit").load($(this).data('href'));
            $("form#treeedit").attr('action', $(this).data('href'));
        });
        $("div.trees").on('click', "input#cancel", function(ev) {
             $(this).closest('form').remove();
        });
        $("div.trees").on('submit', "form#treeedit", function(ev) {
             ev.preventDefault();
             $.post(this.action, $(this).serialize(),function(data) {
                 if (data == 'OK') {
                     location.reload();
                 }
             });
        });
    });
  </script>
{% endblock %}

{% block content %}
<h1>Plot nr {{ plot.nr }} ({{ real_municip }})</h1>

{% if not plot.checked %}
<form method="post" action=".">{% csrf_token %}
    <input type="hidden" name="checked" value="true">
    <input type="submit" value="Checked and OK">
</form>
{% endif %}

{% for obs, treeobss in observations %}
  <div class="plotobs" data-center="{{ plot.the_geom|coords_to_js }}"
        data-centerexact="{{ plot.point_exact|coords_to_js }}"
        data-radius="{{ plot.radius|unlocalize }}" data-json="{{ obs.as_geojson }}">
      <b><a href="{{ obs.get_absolute_url }}">{{ obs.year }}</a></b>
      <div class="obs_map"></div>
      <div class="trees">{% for treeobs in treeobss %}
        <div class="{{ treeobs.css }}" data-pk="{{ treeobs.pk }}">
            <img class="edit" style="display:none; width: 18px;" src="{{ STATIC_URL}}/img/edit.jpg"
                 data-href="{% url 'tree_edit' treeobs.pk %}">
            <div class="treeline">{{ treeobs.tree.nr }}. {{ treeobs.tree.spec }}, ⌀ {{ treeobs.dbh }}
            ({{ treeobs.tree.azimuth }} gon/{{ treeobs.tree.distance }} dm) -
            <span title="{{ treeobs.vita.description }}" class="code_{{ treeobs.vita.code }}">{{ treeobs.vita.code }}</span>
            </div>
        </div>
      {% endfor %}
      </div>
  </div>
{% endfor %}

{% endblock %}
