{% load ksp_utils %}

<fieldset id="plot-details"><legend>Plot {{ plot.nr }}</legend>

Koord.: {{ plot.the_geom.coords|swiss_rounded }}<br>

Vergangene Inventare: {% for obs in plotobs %}
{% if not forloop.first %}, {% endif %}{{ obs.inv_team.name }}{% empty %}-
{% endfor %}<br>

{% if excluded %}
    <span style="color: red;">Dieses Plot ist vom Inventar ausgeschlossen</span><br>
{% endif %}

<form>
    {% csrf_token %}
    {% if excluded %}<button id="reinclude">In Inventar wieder aufnehmen</button>
    {% else %}<button id="exclude">Aus dem Inventar ausschließen</button>
    {% endif %}
</form>
</fieldset>
