{% extends "base.html" %}
{% load ksp_utils %}

{% block content %}
<h2>Stammzahl pro Gemeinde und Aufnahmejahr</h2>

<table class="numbers">
<thead><tr><th>Gemeinde</th><th>Jahr</th><th>Stammzahl</th></tr></thead>
<tbody>
{% for res in result %}
  <tr><td>{{ res.wc|gem_name }}</td><td>{{ res.invdatum }}</td><td>{{ res.id__count }}</td></tr>
{% endfor %}
</tbody></table>
{% endblock %}
