{% extends "base.html" %}

{% block extra_head %}
  <style type="text/css">
    div.subviews { font-size: small; }
    table#main { border-collapse: collapse; }
    table#main td, table#main th { border: 1px solid #ccc; vertical-align: top; padding: 6px; }
    table#main th { background-color: #ccc; }
    ul { margin: 0; font-size: small; }
    span.comment { font-size: small; font-style: italic; color: #555; }
  </style>
{% endblock %}

{% block content %}
<p>Hier finden Sie Datenbank "views" die von dieser Website verwendet werden.</p>

<table id="main">
    <tr><th>Datenbank "view"</th><th>Basiert auf:</th></tr>
{% for dbview in dbviews %}
    <tr><td><a href="{% url 'view_def' dbview.oid %}">{{ dbview.name }}</a><br>
            <span class="comment">{{ dbview.comment|default_if_none:'' }}</span>
        </td>
        <td><ul>
        {% for subview in dbview.sub_views %}
            <li><a href="{% url 'view_def' subview.oid %}">{{ subview.name }}</a></li>
        {% endfor %}
        </ul>
        </td>
    </tr>
{% endfor %}
</table>

{% endblock %}
