<div>
  <h3>Aufnahmeperiode</h3>
  <p>Die Kontrollstichproben wurden in den beiden Basel im Rahmen der Waldentwicklungspläne aufgenommen. Im folgenden wird für alle Aufnahmeperioden die Gemeinde aufgeschrieben. Hier werden also drei kantonal- Auswertungen präsentiert.</p>
  <p>Aufnahmeperiode 3: &gt; 2016 (noch keine Daten vorhanden)</p>
  <p>Aufnahmeperiode 2: Aufnahmen 2002 bis 2014 - Gemeinden: Allschwil, Aesch, Arboldswil, Arisdorf, Arlesheim, Augst, Basel, Bennwil, Bettingen, Biel-Benken, Binningen, Blauen, Böckten, Bottmingen, Bretzwil, Brislach, Buckten, Burg im Leimental, Buus, Diegten, Diepflingen, Dittingen, Duggingen, Eptingen, Ettingen, Frenkendorf, Füllinsdorf, Gelterkinden, Giebenach, Grellingen, Häfelfingen, Hersberg, Hölstein, Itingen, Kaiseraugst, Känerkinden, Kilchberg, Lampenberg, Langenbruck, Läufelfingen,Laufen, Lausen, Lauwil, Liedertswil, Liesberg, Liestal, Münchenstein, Muttenz, Nenzlingen, Niederdorf, Nusshof, Oberdorf, Oberwil, Olsberg, Pfeffingen, Pratteln, Ramlinsburg, Reigoldswil, Reinach, Rickenbach, Riehen, Roggenburg, Röschenz, Rümlingen, Rünenberg, Sissach, Tecknau, Tenniken, Therwil, Thürnen, Titterten, Wahlen, Waldenburg, Wintersingen, Wittinsburg, Zeglingen, Zunzgen, Zwingen</p>

  <p>Aufnahmeperiode 1: Aufnahmen 1987 bis 2000 - Gemeinden: Aesch, Anwil, Arboldswil, Arisdorf, Arlesheim, Augst, Bennwil, Böckten, Bretzwil, Bubendorf, Buckten, Buus, Diegten, Diepflingen, Duggingen, Ettingen, Frenkendorf, Füllinsdorf, Gelterkinden, Giebenach, Häfelfingen, Hemmiken, Hersberg, Itingen, Kaiseraugst, Känerkinden, Langenbruck, Läufelfingen, Lausen, Lauwil, Liedertswil, Liestal, Lupsingen, Münchenstein, Muttenz, Muttenz, Niederdorf, Nusshof, Oberdorf, Olsberg, Oltingen, Ormalingen, Pfeffingen, Pratteln, Ramlinsburg, Reigoldswil, Rickenbach, Rothenfluh, Rothenfluh, Rümlingen, Rünenberg, Seewen, Seltisberg, Sissach, Tecknau, Tenniken, Thürnen, Titterten, Waldenburg, Waldenburg, Wenslingen, Wintersingen, Wittinsburg, Ziefen, Zunzgen</p>
  
  <p>Aufnahmeperiode 0: Pratteln (1988), Ormalingen (1991)</p>
</div>
