<div>
  <h3>Waldeigentümer</h3>
  <p>Wichtigste Waldeigentümer der beiden Basel. Die privaten Waldeigentümer mit weniger als 25 Hektar Wald sind anonymisiert.<br>
  Bei der Aufnahme eines neuen Inventars bzw. einer Folgeaufnahme wird basierend auf dem Kontrollstichprobenzentrum der Eigentümer aus der Tabelle region_admin her ausgelesen und in das Attribut <code>plot_obs.owner_id</code>code> geschrieben.<br>
Damit werden über die zeit ändernde Besitzerverhältisse dokumentiert.<br>
In wenigen Fällen liegt das KSP-Stichprobenzentrum nicht innerhalb eines Polygons (owner) und hat deshalb keinen Besitzer. In diesem Fall kann das Feld <code>plot_obs.owner_id</code> manuell festgelegt werden.
  </p>
  <h3>Update</h3>
  <p>Vor Beginn der Feldaufnahmen kann das Waldeigentum aktualisiert werden. Dazu wird die afw Datenbank fp.v_waldeigentum_detail aktualisiert. Durch das unten genannte Skript kann damit die Tabelle "owner" aktualisiert werden. Wird nun ein Plot durch das Feldteam aufgenommen, wird die Egentümerinformation gemäss der Tabelle owner in das Attribut plot_obs.owner aufgenommen. Die Eigentümer sind klassifiziert gemäss der Tabelle owner_type. Für jeden Eigentümer der Tabelle "owner" ist definiert, ob er betriebsplanflichtig ist oder nicht.</p>
  <p><b>Datenquelle Eigentümer:</b> <a href="{% url 'table_def' 'owner' %}">"owner" Tabelle</a>, die durch Skript aus "afw" Datenbank, "fp.v_waldeigentum_detail" Sicht übernommen wurde.</p>
  <p><b>Datenquelle Eigentümertyp:</b> <a href="{% url 'table_def' 'owner_type' %}">"owner" Tabelle</a>, In der Tabelle owner wird jedem Eigentümer ein "Typ" zugeordnet.</p>
  <p><i>Siehe auch import_eigentumer() Methode in Datei <a href="https://gitlab.com/guaraci/ksp/blob/master/observation/management/commands/populate_regions.py">populate_regions.py</a></i>
  </p>
</div>
