<div>
<h3>Einheitstarif BL</h3>

<p>Die Baumvolumen werden mit dem Einheitstarif BL berechnet. Dieser Einheitstarif unterscheidet weder Laub- noch Nadelholz und ist für den ganzen Kanton einheitlich. In den 90er Jahren wurde er für verschiedene Waldeigentümer (Listal, Bennwil) mit dem Lokaltarif der Gemeinde verglichen.</p>

<h4>Methode:</h4>
<p>Die Berechnung des Baumvolumens basiert auf der  Tarif-Formel der klassischen Kontrollstichprobe Schweiz (Schmidt/Haas/Vogel):<br>
(A + B*log(BHD) + C*(log(BHD))^4)<br>
1: Laubholz: A=-2.736445E+00 B=2.828770E+00 C=-1.659524E-03<br>
2: Nadelholz: A= -4.265642E+00 B= 3.355618E+00 C=-3.913254E-03
</p>

Die folgende Abbildung zeigt die Funktion des Einheitstarifs BL:

<img src="{% static 'img/einheitstarif.png' %}">

<br>
<em>Abbildung 1: Einheitstarif BL.</em>

<p>Der BHD ist die Eingangsgrösse für die Volumenberechnung.</p>

<h4>Bemerkungen</h4>
<p>Bis 2015 wurde die Auswertungssoftwear „Inv-DB“ für die Berechung des Einheitstarifs verwendet. Vor einer Auswertung mussten verschiedene Vorberechnungen, Basiseinstellungen sowie die theoretische und effektive Waldfläche manuell festgelegt werden.</p>

<h4>Schnittstelle LFI</h4>
<p>Das Landesforstinventar berechnet die Baumvolumen heute nicht mehr über einen Einheitstrarif sondern über einen „LFI-Tarif“. Diese  Methode wird im Kapitel 3.2 (Estimation of Standing Timber, Growth and Cut) von E. Kaufmann1 genau beschrieben.</p>

<h4>Schnittstelle Kanton Zürich</h4>
<p>Auf Grund der Bonitäten der Standortkartierung (Waldstandorte Beider Basel) können GWL-Werte (Gesamtwuchsleistung) definiert werden. Der Kanton Zürich verwendet diese Methode (Waldstandorte Kanton Zürich) zur Volumenberechnung.</p>

<p><em>Sowohl der LFI-Tarif als auch die Volumenberechnung über die GWL-Werte könnte als ergänzung zum Einheitstarif die Auswertungsplattform integriert werden.</em></p>
</div>
