<div>
  <h3>Entwicklungsstufe</h3>
  <p>Klassierung von Beständen aufgrund der erreichten mittleren oder dominanten Baumgrösse (Durchmesser oder Höhe). Die Entwicklungsstufen werden aufgrund des dominanten Brusthöhendurchmessers (Ddom) unterschieden.</p>
  <p><a href="{% url 'data_model' 'develstage' %}">Attribut-Werte</a>.
  </p>
</div>
