<div>
  <h3>Forstreviere</h3>
  <p>Alle Forstreviere der beiden Basel.</p>
  <p><b>Datenquelle:</b> "afw" Datenbank, "admin.admin_einteilung_blbs" Tabelle</p>
  <p><i>Siehe auch import_forstrevier() Methode in Datei <a href="https://gitlab.com/guaraci/ksp/blob/master/observation/management/commands/populate_regions.py">populate_regions.py</a></i>
  </p>
</div>
