<div>
  <h3>Gemeinden</h3>
  <p>Politische Gemeinden der beiden Basel sowie einzelne Gemeinden aus den Nachbarkantonen, in den Kontrollstichproben durch das Amt für Wald beider Basel erhoben wurden.
  </p>

  <p><b>Datenquelle:</b> <a href="{% url 'table_def' 'gemeindegrenzen_bsbl' %}">"gemeindegrenzen_bsbl" Tabelle</a>. 
  </p>
</div>
