<div>
  <h3>Mischungsgrad</h3>
  <p>Anteile des Deckungsgrades der am Aufbau des Bestandes beteiligten Baumarten. Hier Anteil von Nadel- und Laubholz.</p>
  <p><a href="{% url 'data_model' 'forestmixture' %}">Attribut-Werte</a>.
  </p>
</div>
