<div>
<h3>Tipps zur Auswertung</h3>

<h4>Dokumentation</h4>

<p>Alle Auswertungsmethoden sind direkt auf der Plattform dokumentiert.</p>

<p><img class="info" src="{% static 'img/info.svg' %}"> mouse-over: generelle Beschreibung des Perimeters, der Zielgrösse oder der Gruppierungsergebnissen</p>

<p><img src="{% static 'img/info-blue.svg' %}" width="16"> click: Neben dem generellen Beschrieb, wird die Datenquelle (wo sind die Daten in der Datenbank abgelegt) sowie der Auswertungslogarithmus angegeben. Sowohl Datenquelle als auch Auswertungslogarithmus können weiter angeklickt werden um den Programmierungs-Code sichtbar zu machen.</p>

<p><b>Zielwert</b>: Wird ein Zielwert ausgewählt, wird die Auswertungsmethode auf der rechten Seite beschrieben und dokumentiert.</p>

<p><b>Glossar</b>: Auf der <a href="{% url 'docs' %}">Seite „Dokumentation“</a> werden die wichtigsten Begriffe definiert.</p>

<p><b>Referenzdokumente</b>: Auf der <a href="{% url 'docs' %}">Seite „Dokumentation“</a> werden auch Referenzdokumente wie das Datenbankschema, die Aufnahmeanleitung oder methodische Grundlagen aufgeführt.</p>
 

<h4>Exportieren von Daten</h4>
<p>Die Resultate einer Abfrage (Datenanforderung) können als *.csv Datei exportiert werden und anschliessend mit Excel weiterverarbeitet (z.B. Grafiken) werden.<br>
Siehe <img src="{% static 'img/csv.png' %}"> Icon unten rechts.</p>

<h4>Vergleichen von Mittelwerten aus Kontrollstichproben</h4>
<p>Mittelwerte von verschiedenen Auswertungen können nur verglichen werden, wenn die Mittelwerte mit der Waldfläche gewichtet werden.</p>

<p>
<b>Beispiel:</b><br>
Wird eine Auswertung über mehrere Gemeinden (Bettingen, Riehen, Basel) durchgeführt, so empfiehlt es sich, den Mittelwert für den Kanton Basel-Stadt mit einer neuen, zweiten Abfrage zu generieren.<br>
Die Summe der drei Mittelwerte pro Gemeinden muss zuerst mit deren Waldfläche gewichtet werden, bevor man einen kantonalen Mittelwert manuell (mit Excel) errechnen kann.
</p>

<h4>Kantonale Auswertungen</h4>
<p>Die Kontrollstichproben werden seit mehreren Jahrzenten aufgenommen. Sie wurden deshalb in Aufnahmeperioden unterteilt. Für eine kantonale Analyse empfiehlt es sich nach der Aufnahmeperiode zu gruppieren.</p>
</div>
