{% extends "base.html" %}

{% block content %}
<h1>Import form for Basel forest inventory data (XML format)</h1>

<form method="POST" enctype="multipart/form-data" action=".">{% csrf_token %}
  File to import :{{ form.ifile.errors }}{{ form.ifile }}
  <p><input type="submit" value="Importer"></p>
</form>

{% endblock %}
